$emerald: #79bd9d;
$form-gray: #999999;
$middle-gray: #cccccc;
$light-gray: #e6e6e6;
$ultralight-gray: #f5f5f5;
$form-background: #161616;
$request-form-border: #666666;
$modal-overlay: rgba(0, 0, 0, 0.6);
