$emerald: #79bd9d;
$emerald-semitransparent: rgba(121, 189, 157, 0.5);
$search-form-field-placeholder: #999999;
$middle-gray: #cccccc;
$light-gray: #e6e6e6;
$modal-bg-color: #161616;
$modal-overlay-bg-color: rgba(0, 0, 0, 0.6);
