-
  const PAGE_INDEX = {
    id: 'index',
    title: 'Главная',
    heading: `Транспортная компания ${SITE_TITLE}: официальный сайт`,
  };
  const PAGE_404 = {
    id: 'error404',
    title: 'Такой страницы нет',
    heading: 'Страница не существует',
  };
  const PAGE_ABOUT =  {
    id: 'about',
    title: 'О нас',
    heading() {
      return this.title;
    },
  };
  const PAGE_ARTICLE = {
    id: 'article',
    title: 'Статьи / Подробнее',
    heading: 'Праздники в странах',
  };
  const PAGE_ARTICLES = {
    id: 'articles',
    title: 'Статьи',
    heading() {
      return this.title;
    },
  };
  const PAGE_LOGISTICS = {
    id: 'logistics',
    title: 'География перевозок',
    heading() {
      return this.title;
    },
  };
  const PAGE_GLOSSARY = {
    id: 'glossary',
    title: 'Глоссарий',
    heading() {
      return this.title;
    },
  };
  const PAGE_CONTACTS = {
    id: 'contacts',
    title: 'Контакты',
    heading() {
      return this.title;
    },
  };
