mixin logistics()
  .logistics(class=attributes.class)
    +common-container().logistics__container
      +common-heading('h1').logistics__heading
      +common-inner-page-content().logistics__inner
        +logistics-crumbs(LOGISTICS_ITEMS).logistics__breadcrumbs
        +common-picture(
          src='img/logistics__image.jpg'
          alt=page.heading
        ).logistics__image-wrapper
        +country-information('uk').logistics__text-content
        aside.logistics__form
          +request-form({
            heading: 'Заявка на перевозку',
            modifier: 'shipping',
          })
