mixin logistics()
  .logistics(class=attributes.class)
    +generic-container().logistics__container
      +generic-heading().logistics__heading
      +generic-inner-content().logistics__inner
        +logistics-crumbs(LOGISTICS_ITEMS).logistics__breadcrumbs
        +generic-picture(
          src='img/logistics__image.jpg'
          alt=page.heading
        ).logistics__image-wrapper
        +country-information('uk').logistics__text-content
        aside.logistics__form
          +request-form({
            heading: 'Заявка на перевозку',
            modifier: 'shipping',
          })
