.glossary__wordlist {
  @include list();
  display: grid;
  grid: {
    template: {
      rows: repeat(8, auto);
      columns: repeat(2, 1fr);
    }
    auto-flow: column;
    row-gap: 32px;
  }

  @media (min-width: $m-min-width) {
    grid: {
      template-columns: 1fr 1fr 2fr;
      auto-flow: column dense;
    }
  }
}
