.glossary__word {
  @include font(400, 16px);
  letter-spacing: 0.08em;
  color: $dark-gray;

  $grid-line-counter: 9;

  @for $number from 16 through 37 {
    &--#{$number} {
      grid-column: 1 / 3;
      grid-row: #{$grid-line-counter} / ($grid-line-counter + 1);
      $grid-line-counter: $grid-line-counter + 1;
    }
  }
}
