mixin additional-service()
  -
    const ADDITIONAL_ITEMS = [
      ['insurance', 'Страхование грузов'],
      ['chinese', 'Поиск поставщиков в Китае'],
      ['contract', 'Предоставление контрактодержателя'],
      ['cross-docking', 'Кросс докинг'],
    ];
  section.mixed-gallery.additional-service(class=attributes.class)
    .generic-container.generic-container--wide(class=[
      'mixed-gallery__container',
      'additional-service__container',
    ])
      h2.generic-heading-1.additional-service__heading Дополнительный сервис
      ul.mixed-gallery__list.additional-service__list
        each item, index in ADDITIONAL_ITEMS
          - const [modifier, heading] = item;
          +additional-service-item({
            modifier: modifier,
            heading: heading,
            number: index + 1,
          })(class=[
            'additional-service__item',
            `additional-service__item--${index + 1}`,
            (
              index === ADDITIONAL_ITEMS.length - 1
              ? 'additional-service__item--last'
              : null
            ),
          ])
