section.additional-service(class=[
  'mixed-gallery',
  pageMain_getElClasses('additional-service'),
])
  -
    const ADDITIONAL_SERVICE_ITEMS = [
      ['insurance', 'Страхование грузов'],
      ['chinese', 'Поиск поставщиков в Китае'],
      ['contract', 'Предоставление контрактодержателя'],
      ['cross-docking', 'Кросс докинг'],
    ];
    const ADDITIONAL_SERVICE_MEDIA_SETS = {
      odd: [['S', 320], ['M', 352], ['L', 450], 780],
      even: [['OM', 212], ['OL', 276], ['S', 320], 480],
    };
  div(class=[
    'generic-container',
    'generic-container--wide-s',
    'additional-service__container',
  ])
    h2.generic-heading-1.additional-service__heading
      span.generic-heading-1__inner Дополнительный сервис
      span.generic-heading-1__hidden(role='presentation') Дополнительный сервис
    ul.mixed-gallery__list.additional-service__list
      each item, index in ADDITIONAL_SERVICE_ITEMS
        -
          const number = index + 1;
          const [modifier, heading] = item;
          const imageProps = {
            alt: heading,
            path: `additional-service-item__image--${number}`,
            mediaSet: (
              number % 2 === 1
              ? ADDITIONAL_SERVICE_MEDIA_SETS['odd']
              : ADDITIONAL_SERVICE_MEDIA_SETS['even']
            ),
          };
        li(class=[
          'additional-service-item',
          `additional-service-item--${modifier}`,
          'additional-service__item',
          `additional-service__item--${number}`,
          (
            number === ADDITIONAL_SERVICE_ITEMS.length
            ? 'additional-service__item--last'
            : null
          ),
        ])
          h3.generic-heading-2.additional-service-item__heading
            span.additional-service-item__string= heading
          +generic-picture(imageProps).additional-service-item__image-wrapper
