.additional-service__item {
  @include margin-bottom-last(24px);
  position: relative;

  @media (min-width: $m-min-width) {
    &--1 {
      width: 352px;
      margin-bottom: 64px;
    }

    &--2 {
      order: 1;
      width: 212px;
      margin-top: 128px;
    }

    &--3 {
      width: 352px;
      margin-left: 64px;
    }

    &--4 {
      order: 2;
      width: 212px;
      margin-top: auto;
    }
  }

  @media (min-width: $l-min-width) {
    &--1 {
      margin-bottom: 144px;
    }

    &--2 {
      margin-top: 200px;
    }
  }
}
