.additional-service__string {
  $additions-service-string-data: (
    200px 16px,
    170px 96px,
    auto 32px,
    120px 72px,
  );

  @for $number from 1 through length($additions-service-string-data) {
    &--#{$number} {
      $item: nth($additions-service-string-data, $number);
      width: nth($item, 1);
      margin-top: nth($item, 2);
    }
  }
}
