.error404__container {
  @media (min-width: $l-min-width) {
    display: grid;
    grid: {
      template: {
        rows: 1fr;
        columns: minmax(auto, 835px) minmax(auto, 654px);
      }
      column-gap: 64px;
    }
  }

  @media (min-width: $xl-min-width) {
    grid: {
      template: {
        rows: auto 1fr;
        columns: 840px 1fr;
      }
      gap: 176px 64px;
    }
  }
}
