mixin customs(customs_modifier)
  section.customs(
    class=[
      `customs--${customs_modifier}`,
      attributes.class,
    ]
  )
    .customs__container
      header.customs__headline
        +basic-heading().customs__title= CUSTOMS_DATA[customs_modifier].title
        p.customs__subtitle= CUSTOMS_DATA[customs_modifier].subtitle

      +basic-picture({
        parentClass: `customs--${customs_modifier}`,
        numerator: 1,
        altText: CUSTOMS_DATA[customs_modifier].title,
      })

      .customs__text-content
        mixin customs__paragraph(customsParagraph_content)
          +basic-text-block('p').customs__paragraph!= customsParagraph_content

        +customs__paragraph(CUSTOMS_DATA[customs_modifier].paragraphs[0])

        ul.customs__list
          mixin customs__item(customItem_content)
            +basic-text-block('li').customs__item!= customItem_content

        each item in CUSTOMS_DATA[customs_modifier].listItems
          +customs__item(item)
