mixin intro()
  header.intro(class=attributes.class)
    .intro__container
      +basic-heading().intro__heading Международная перевозка сборных грузов

      each string, index in ['Старт ракеты', 'Облака']
        +basic-picture({
          parentClass: 'intro',
          numerator: index + 1,
          altText: string,
      })
