mixin navigation()
  nav.navigation
    .navigation__certificates
      +certificates()
    ul.navigation__list
      mixin navigation__item(navigationItem_props)
        li.navigation__item
          a.navigation__link(
            class=(
              navigationItem_props.modifier === 'certificates'
              ? 'navigation__link--certificates'
              : null
            )
            href=(
              NAVIGATION_EMPTY_LINKS
                .concat(page.id)
                .includes(navigationItem_props.modifier)
              ? null
              : `${navigationItem_props.modifier}.html`
            )
          )= navigationItem_props.text
          block
      each item in NAVIGATION_ITEMS
        - const [modifier, text] = item;
        +navigation__item({ modifier: modifier, text: text })
          if modifier in NAVIGATION_SUBLISTS
            +navigation-sublist(modifier)
