mixin common-list(basicList_data)
  ul.common-list(class=attributes.class)
    each item, index in basicList_data
      -
        const itemFinalCharacted = (index !== basicList_data.length - 1)
          ? ';'
          : '.';
      li.common-list__item= `${item}${itemFinalCharacted}`
