.navigation-toggle__button {
  padding: 0;
  background-color: transparent;
  border-style: none;

  &--opener {
    display: block;
    width: 28px;
    height: 12px;

    @include hover-focus_set() {
      animation: {
        name: bounce;
        duration: 1s;
        timing-function: ease-in-out;
      }
    }

    .is-nav-shown & {
      display: none;
    }
  }

  &--closer {
    display: none;
    width: 22px;
    height: 22px;
    transition: transform ease-in-out 0.5s;

    @include hover-focus_set() {
      transform: rotate(0.5turn);
    }

    .is-nav-shown & {
      display: block;
    }
  }
}
