mixin navigation-toggle()
  - const NAVIGATION_TOGGLES = [['opener', 'Показать'], ['closer', 'Скрыть']];
  nav.navigation-toggle
    each item in NAVIGATION_TOGGLES
      - const [modifier, string] = item;
      button.navigation-toggle__button(
        class=`navigation-toggle__button--${modifier}`
        type='button'
      )
        span.navigation-toggle__legend= `${string} главное меню`
