mixin transport()
  -
    const TRANSPORT_ITEMS = [
      'Авиатранспорт',
      'Ж/Д перевозки',
      'Автотранспорт',
      'Водный транспорт',
      'Ракетный транспорт',
    ];
  section.transport(class=attributes.class)
    .generic-container.generic-container--wide.transport__container
      h2.generic-heading-1.transport__heading Виды перевозок
      ul.transport__list
        each item, index in TRANSPORT_ITEMS
          +transport-item({ heading: item, number: index + 1 })(class=[
            'transport__item',
            `transport__item--${index + 1}`,
            (
              index === TRANSPORT_ITEMS.length - 1
              ? 'transport__item--last'
              : null
            ),
          ])
