section.transport.mixed-gallery(class=pageMain_getElClasses('transport'))
  -
    const TRANSPORT_ITEMS = [
      ['plane', 'Авиатранспорт'],
      ['train', 'Ж/Д перевозки'],
      ['truck', 'Автотранспорт'],
      ['ship', 'Водный транспорт'],
      ['rocket', 'Ракетный транспорт'],
    ];
    const TRANSPORT_MEDIA_SETS = {
      '1-3-5': [['S', 320], ['M', 324], ['L', 412], 720],
      '2-4': [['OM', 268], ['S', 320], ['L', 346], 600],
    };
  div(class=[
    'generic-container',
    'generic-container--wide-s',
    'transport__container',
  ])
    h2.generic-heading-1.transport__heading Виды перевозок
    ul.mixed-gallery__list.transport__list
      each item, index in TRANSPORT_ITEMS
        -
          const number = index + 1;
          const [modifier, heading] = item;
          const imageProps = {
            alt: heading,
            path: `transport-item__image--${number}`,
            mediaSet: (
              number % 2 === 1
              ? TRANSPORT_MEDIA_SETS['1-3-5']
              : TRANSPORT_MEDIA_SETS['2-4']
            ),
          };
          const isSpecial = (modifier === 'rocket');
        li(class=[
          'transport-item',
          isSpecial ? 'transport-item--special' : null,
          'transport__item',
          `transport__item--${number}`,
          number === TRANSPORT_ITEMS.length ? 'transport__item--last' : null,
        ])
          h3.generic-heading-2.transport-item__heading= heading
          mixin transport-item__image-wrapper()
            +generic-picture(imageProps).transport-item__image-wrapper
          if isSpecial
            .transport-item__wrapper
              +transport-item__image-wrapper()
              span.transport-item__hint Скоро
          else
            +transport-item__image-wrapper()
