.transport__item {
  @include margin-bottom-last(48px);

  @media (min-width: $m-min-width) {
    margin-bottom: 0;

    &--1 {
      width: 46%;
      margin: {
        bottom: 64px;
        left: 16px;
      }
    }

    &--2 {
      order: 1;
      align-self: flex-end;
      width: 38%;
      margin: {
        top: 150px;
        bottom: 80px;
      };
    }

    &--3 {
      width: 46%;
    }

    &--4 {
      order: 2;
      width: 46%;
    }

    &--5 {
      width: 38%;
      margin: {
        top: auto;
        left: 32px;
      }
    }
  }

  @media (min-width: $l-min-width) {
    &--1 {
      margin: {
        bottom: 128px;
        left: 48px;
      }
    }

    &--2 {
      margin: {
        top: 156px;
        bottom: 96px;
      }
    }
  }
}
