mixin logistics-brief()
  section.logistics-brief(class=attributes.class)
    +generic-container().logistics-brief__container
      +generic-heading().logistics-brief__heading География перевозок
      each string, index in ['Башня', 'Собор', 'Пагода']
        +generic-picture(
          class=[
            'logistics-brief__image-wrapper',
            `logistics-brief__image-wrapper--${index + 1}`,
          ]
          src=`img/logistics-brief__image--${index + 1}.jpg`
          alt=string
        )
      ul.logistics-brief__list
        each item in LOGISTICS_ITEMS
          - const { caption, list, modifier } = item;
          li.logistics-brief__item
            +directions({
              heading: caption,
              items: list,
              modifier: modifier,
            })
