mixin logistics-brief()
  section.logistics-brief(class=attributes.class)
    .generic-container.generic-container--mainpage.logistics-brief__container
      .blending.logistics-brief__inner
        +blending__heading-wrapper().logistics__brief__heading-wrapper География перевозок
        .blending__pictures.logistics__brief__pictures
          each string, index in ['Башня', 'Собор', 'Пагода']
            +generic-picture.blending__picture(
              class=`logistics-brief__image-wrapper--${index + 1}`
              src=`img/logistics-brief__image--${index + 1}.jpg`
              alt=string
            ).logistics-brief__image-wrapper
      ul.logistics-brief__list
        each item in _LOGISTICS_ITEMS
          - const { caption, list, modifier } = item;
          li.logistics-brief__item
            +directions({
              heading: caption,
              items: list,
              modifier: modifier,
            })
