.logistics-crumbs {
  @include padding-hor();

  @media (min-width: $m-min-width) {
    padding: {
      left: 32px;
      right: 0;
    }
  }

  @media (min-width: $l-min-width) {
    padding-left: 0;
  }
}
