.logistics-crumbs__heading-list {
  @include list();
  display: flex;
  margin: {
    bottom: 32px;
    left: calc(var(--logistics-crumbs__heading-list-margin-left) * -1);
  }

  @media (min-width: $m-min-width) {
    width: 388px;
  }
}
