-
  const PRODUCT_LIST_ITEMS = [
    'Акустические системы',
    'Бижутерия',
    'Бытовая техника',
    'Видеокамеры, видеорегистраторы',
    'Головные уборы',
    'Декоративные изделия для интерьера',
    'Детская одежда',
    'Запчасти',
    'Зонты',
    'Игрушки',
    'Инструменты',
    'Кабели',
    'Кальяны и другие курительные принадлежности',
    'Канцелярские принадлежности',
    'Клей, краска, лак',
    'Ковры',
    'Косметические средства',
    'Мебель',
    'Музыкальные инструменты',
    'Напольные покрытия',
    'Обои',
    'Оборудование, станки',
    'Обувь',
    'Одежда для взрослых',
    'Окна и двери',
    'Осветительное оборудование',
    'Печатная продукция (каталоги, книги, календари) ',
    'Постельные принадлежности',
    'Посуда и столовые приборы',
    'Пряжа',
    'Рыболовные снасти',
    'Сантехника',
    'Спортивный инвентарь',
    'Столовые принадлежности',
    'Сумки',
    'Ткань',
    'Упаковка',
    'Фурнитура (швейная, мебельная, дверная, оконная)',
  ];
