.product-list__items {
  @include list();
  padding-right: calc(16px + var(--product-list__wrapper-Scrollbar-width));

  @media (min-width: $m-min-width) {
    display: grid;
    grid: {
      template-columns: repeat(2, 1fr);
      auto-rows: auto;
      gap: 16px;
    }
  }

  @media (min-width: $l-min-width) {
    grid-column-gap: 56px;
  }
}
