mixin generic-heading(genericHeading_type)
  case genericHeading_type
    when 'h1'
      h1.generic-heading(class=attributes.class)= page.heading
        block
    when 'h2'
    default
      h2.generic-heading(class=attributes.class)
        block
