mixin logistics()
  section.logistics(class=attributes.class)
    .logistics__container
      +basic-heading().logistics__heading= LOGISTICS_HEADING

      each string, index in LOGISTICS_IMAGE_ALTS
        +basic-picture({
          parentClass: 'logistics',
          numerator: index + 1,
          altText: string,
          isNumerated: true,
        })

      .logistics__text-content
        ul.logistics__list

          mixin logistics__item()
            li.logistics__item
              block

          each countries, continent in DIRECTIONS
            +logistics__item()
              +directions({
                heading: continent,
                items: countries,
              })
