mixin logistics()
  section.logistics(class=attributes.class)
    +common-container().logistics__container
      +common-heading('h1').logistics__heading
      +common-inner-page-content().logistics__inner
        +logistics-crumbs(LOGISTICS_ITEMS).logistics__breadcrumbs
        +common-picture({
          altText: page.heading,
          parentClass: 'logistics',
          areImagesNumerated: false,
        })
        +country-information({ modifier: 'uk' }).logistics__text-content
        +request-form({
          heading: 'Заявка на перевозку',
          modifier: 'shipping',
        }).logistics__form
