mixin logistics()
  section.logistics(class=attributes.class)
    .logistics__container
      +basic-heading().logistics__heading География перевозок

      each string, index in ['Башня', 'Собор', 'Пагода']
        +basic-picture({
          parentClass: 'logistics',
          numerator: index + 1,
          altText: string,
        })

      .logistics__text-content
        ul.logistics__list

          mixin logistics__item()
            li.logistics__item
              block

          each countries, continent in DIRECTIONS
            +logistics__item()
              +directions({
                heading: continent,
                items: countries,
              })
