.main-menu__calculator-toggle {
  display: none;

  @media (min-width: $l-min-width) {
    display: block;
  }

  @media (min-width: $xl-min-width) {
    .is-modal-shown & {
      pointer-events: auto;
    }
  }
}
