.directions__item {
  margin: {
    top: var(--directions__list-margin-top);
    left: var(--directions__list-margin-left);
  }
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
