.directions__list {
  @include list();
  display: flex;
  flex-wrap: wrap;
  margin: {
    top: calc(var(--directions__list-vertical-margin) * -1);
    left: calc(var(--directions__list-horizontal-margin) * -1);
  }
}
