-
  const CERTIFICATES_RETURN_LEGEND = 'Вернуться';
  const CERTIFICATES_ITEMS = [
    'Декларация пожарной безопасности',
    'Декларация о соответствии Таможенного Союза',
    'Сертификат соответствия Таможенного Союза',
    'Отказное письмо пожарной безопасности',
    'Сертификат соответствия ГОСТ Р',
    'Добровольный сертификат соответствия',
    'Декларация о соответствии ГОСТ Р',
    'Сертификат соответствия пожарной безопасности',
    'Добровольный сертификат пожарной безопасности',
    'Декларация о соответствии ГОСТ Р изделий медицинского назначения и медицинского оборудования',
    'Сертификат соответствия ГОСТ Р изделий медицинского назначения',
    'Добровольный сертификат соответствия  на изделия медицинского назначения',
  ];
