mixin certificates()
  .certificates
    a.certificates__return-button(href='#')= CERTIFICATES_RETURN_LEGEND
    ul.certificates__list
      each text in CERTIFICATES_ITEMS
        li.certificates__item
          a.certificates__link(href='#')= text
