mixin about-brief()
  include _d_about-brief
  section.about-brief(class=attributes.class)
    +common-container().about-brief__container
      +common-heading().about-brief__heading О нас
      +common-picture({
        altText: 'Контейнеры',
        areImagesNumerated: false,
        parentClass: 'about-brief',
      })
      .about-brief__text-content
        each paragraph in ABOUT_BRIEF_PARAGRAPHS
          +common-text-block('p').about-brief__paragraph= paragraph
        p.about-brief__endline Спасибо за доверие, Ваш #{SITE_TITLE}.
