mixin blending__heading-wrapper()
  .blending__heading-wrapper(class=attributes.class)
    h2.generic-heading-1(class=[
      'blending__heading',
      'blending__heading--higher',
    ])
      block
    span.generic-heading-1(class=[
      'blending__heading',
      'blending__heading--substrate',
    ])
      block
