.calls__item {
  @include margin-hor();
  display: flex;
  flex-direction: column;

  &--1 {
    margin-bottom: 24px;
  }

  @media (min-width: $m-min-width) {
    @include margin-hor(0);
    justify-content: space-between;

    &--1 {
      margin-bottom: 0;
    }
  }

  @media (min-width: $l-min-width) {
    &--1 {
      margin-left: auto;
    }

    &--2 {
      margin-right: auto;
    }
  }
}
