mixin about()
  include _d_about
  section.about(class=attributes.class)
    +basic-container().about__container
      +basic-heading('h1').about__heading
      +inner-page-content().about__inner
        +basic-picture({
          altText: 'Склад',
          areImagesNumerated: false,
          parentClass: 'about',
        })
        each item in ABOUT_FEATURES_LISTS
          - const { heading, list } = item;
          .about__features-block
            h3.about__list-caption= `${heading}:`
            +basic-list(list).about__list
