mixin about()
  include _d_about
  section.about(class=attributes.class)
    +common-container().about__container
      +common-heading('h1').about__heading
      +common-inner-page-content().about__inner
        +common-picture(
          src='img/about__image.jpg'
          alt='Склад'
        ).about__image-wrapper
        each item in ABOUT_FEATURES_LISTS
          - const { heading, list } = item;
          .about__features-block
            h3.about__list-caption= `${heading}:`
            +common-list(list).about__list
