mixin about()
  section.about(class=attributes.class)
    .about__container

      +basic-heading().about__heading= ABOUT_HEADING

      +basic-picture({
        parentClass: 'about',
        numerator: 1,
        altText: 'Контейнеры',
      })

      .about__text-content

        mixin about__paragraph(aboutParagraph_content)
          +basic-text-block('p').about__paragraph= aboutParagraph_content

        each paragraph in ABOUT_PARAGRAPHS
          +about__paragraph(paragraph)

        p.about__endline Спасибо за доверие, Ваш #{SITE_TITLE}.
