.country-information__heading {
  margin-bottom: 24px;
}

.country-information__paragraph {
  margin: {
    top: 0;
    bottom: 0;
  }
}

.country-information__list {
  margin: {
    top: 24px;
    bottom: 24px;
  }
}
