mixin article-intro(articleIntro_number)
  article.article-intro(class=`article-intro--${articleIntro_number}`)
    header.article-intro__header
      h3.generic-heading-2.article-intro__heading Праздники в странах
    +generic-picture(
      src=`img/article-intro__image--${articleIntro_number}.jpg`,
      alt='Праздники в странах',
    ).article-intro__image-wrapper
    p.generic-textblock.article-intro__excerpt= _TEMPLATE_PARAGRAPHS[0]
    footer.generic-link.article-intro__footer
      a.article-intro__details(href='article.html') Подробнее
