.article-intro__header {
  margin-bottom: 24px;
}

.article-intro__heading {
  margin-bottom: 0;
}

.article-intro__image-wrapper {
  margin-bottom: 24px;
}

.article-intro__excerpt {
  margin: {
    top: 0;
    bottom: 24px;
  }
}

.article-intro__footer {
  display: flex;
}

