include ../common_components/_m_common-container
include ../common_components/_m_common-heading
include ../common_components/_m_common-inner-page-content
include ../common_components/_m_common-list
include ../common_components/_m_common-picture
include ../common_components/_m_common-text-block
