include _global_data_import

block page-variable

include _components_import

doctype html
html(lang='ru')
  +head()
  body.page(class=`page--${page.id}`)
    header.page__header
      +page-header()
    nav.page__sidebar
      +sidebar()
    main.page-main.page__main
      block page-main
    script(src='js/picturefill.js')
    block current-page-scripts
