include _global_data
include _global_mixins

block page-variables

include _import_data
include _import_mixins

doctype html
html(lang='ru')
  +head()
  body.page(class=`page--${page.id}`)
    header.page__header
      +page-header()
    nav.page__sidebar
      +sidebar()
    main.page-main.page__main
      block page-main
    script(src='js/picturefill.js')
    block current-page-scripts

//- TODO: применить деструктурирующее присваивание для параметров миксинов, если это объекты
