.about-brief__heading {
  @include padding-hor();
  position: relative;
  z-index: 0;
  margin-bottom: 32px;
  transition: opacity 250ms;

  @media (min-width: $m-min-width) {
    @include padding-hor(0);
    width: 100%;
    margin-bottom: 40px;
  }

  @media (min-width: $l-min-width) {
    overflow: hidden;
    margin-bottom: 64px;
  }
}
