.logistics__form-wrapper {
  @media (min-width: $m-min-width) {
    grid-area: 3 / 1 / 5 / 2;
    z-index: 1;
    width: 360px;
    margin-left: 24px;
  }

  @media (min-width: $logistics-request-form-resize) {
    @include margin-hor();
    grid-area: 3 / 1 / 4 / 3;
    width: $request-form-wide-width;
    margin-top: 32px;
  }

  @media (min-width: $xl-min-width) {
    @include margin-hor(0);
    grid-area: 3 / 2 / 5 / 4;
    margin-top: 0;
  }
}
