-
  const ADDITIONAL_HEADING = 'Дополнительный сервис';
  const ADDITIONAL_ITEMS = [
    'Страхование грузов',
    'Поиск поставщиков в Китае',
    'Предоставление контрактодержателя',
    'Кросс докинг',
  ];
