mixin additional-service()
  -
    const ADDITIONAL_ITEMS = [
      'Страхование грузов',
      'Поиск поставщиков в Китае',
      'Предоставление контрактодержателя',
      'Кросс докинг',
    ];
  section.additional-service(class=attributes.class)
    +common-container().additional-service__container
      +common-heading().additional-service__heading Дополнительный сервис
      ul.additional-service__list
        each caption, index in ADDITIONAL_ITEMS
          li.additional-service__item(
            class=`additional-service__item--${index + 1}`
          )
            h3.additional-service__caption= caption
            +common-picture({
              altText: caption,
              numerator: index + 1,
              parentClass: 'additional-service',
            })
