mixin additional-service()
  section.additional-service(class=attributes.class)
    +basic-container().additional-service__container

      +basic-heading().additional-service__heading= ADDITIONAL_HEADING

      ul.additional-service__list
        mixin additional-service__item(additionalServiceItem_props)
          - const {number, caption, altText} = additionalServiceItem_props;
          li.additional-service__item(
            class=`additional-service__item--${number}`
          )
            h3.additional-service__caption=caption
            +basic-picture({
              parentClass: 'additional-service',
              numerator: number,
              altText: altText,
            })
        each caption, index in ADDITIONAL_ITEMS
          +additional-service__item({ number: index + 1, caption: caption })
