.request-radio-formgroup__list {
  @include list();
  display: grid;
  grid: {
    template: {
      rows: repeat(2, 1fr);
      columns: repeat(2, 1fr);
    }
    gap: 16px;
  }
  justify: {
    content: space-between;
    items: stretch;
  }

  @include request-form-mq(nest) {
    display: flex;
    width: calc(100% - 160px);
  }
}
