-
  const GLOSSARY_MENU_ITEMS = [
    'Праздники в странах',
    'Размеры и виды контейнеров',
    'Размеры и виды автотранспорта',
    'Условия поставок',
    'Рассчитать объем',
    'Таможенный калькулятор',
  ];
  const GLOSSARY_DICTIONARY_ITEMS = [
    'CFR', 'CIF', 'CIP', 'CPT', 'DAF', 'DAP', 'DAT', 'DDP', 'DDU', 'DEQ', 'DES', 'EXW', 'FAS', 'FCA', 'FOB', 'Таможенная процедура уничтожения', 'Таможенная стоймость товара', 'Таможенная декларация', 'Таможенный склад', 'ТН ВЭД', 'ТТН', 'Образец упаковочного листа', 'Маркировка сборного груза', 'Инвойсная стоимость', 'Временный вывоз', 'Инкотермс 2010', 'Кросс-докинг', 'ГТД', 'ВЭД', 'Сборный груз', 'Сертификат', 'Помогайка', 'Реимпорт', 'Реэкспорт', 'Страховка', 'Свободная таможенная зона (свободный склад)',
  ];
