.modal__close-button {
  @include svg-background();
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  width: 22px;
  height: 22px;
  padding: 0;
  background: {
    color: transparent;
    image: url("../img/modal__close-button.svg");
  }
  border-style: none;
  outline-style: none;
  transition: transform ease-in-out 0.5s;

  .is-modal-shown &:hover {
    transform: rotate(0.5turn);
  }

  @media (min-width: $m-min-width) {
    top: 32px;
    right: 32px;
  }
}
