.modal {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;

  @media (min-width: $m-min-width) {
    align-items: center;
    min-height: 100vh;
  }

  @media (min-width: $l-min-width) {
    justify-content: flex-start;
  }
}
