.subarticle__paragraph {
  margin: {
    top: 0;
    bottom: 16px;
  }

  &--last {
    margin-bottom: 0;
  }

  @media (min-width: $m-min-width) {
    .subarticle--double-column & {
      margin-bottom: 0;
    }
  }
}
