.subarticle__textblock {
  .subarticle--regular & {
    margin-bottom: 32px;
  }

  @media (min-width: $m-min-width) {
    .subarticle--double-column & {
      display: grid;
      grid: {
        template: {
          rows: repeat(2, auto);
          columns: repeat(2, 1fr);
        }
        auto-flow: column;
        gap: 24px 48px;
      }
    }

    .subarticle--regular & {
      display: grid;
      margin-bottom: 0;
    }
  }
}
