extends ../base/_template_default

block page-variables
  - const page = PAGE_INDEX;

block page-main
  +intro().page-main__intro
  +about().page-main__about
  +indices().page-main__indices
  +logistics().page-main__logistics
  +transport().page-main__transport
  +additional-service().page-main__additional-service
  +clients().page-main__clients
  +customs('agent').page-main__customs-agent
  +customs('service').page-main__customs-service
