extends ../base/_template_default

block page-variables
  -
    const page = {
      id: 'index',
      title: 'Главная',
      heading: `Транспортная компания ${SITE_TITLE}: официальный сайт`,
    };

block page-main
  +intro().page-main__intro
  +about().page-main__about
  +indices().page-main__indices
  +logistics().page-main__logistics
  +transport().page-main__transport
  +customs('agent').page-main__customs-agent
  +customs('service').page-main__customs-service
