mixin socials()
  -
    const SOCIALS_ITEMS = [
      ['facebook', 'Facebook'],
      ['instagram', 'Instagram'],
      ['vk', 'ВКонтакте'],
    ];
  .socials(class=attributes.class)
    ul.socials__list
      each item in SOCIALS_ITEMS
        - const [path, text] = item;
        li.socials__item
          a.socials__link(
            class=`socials__link--${path}`
            href=`https://${path}.com/`
          )
            .socials__legend= text
