.page {
  padding: {
    top: var(--g_page-Padding-top);
    bottom: calc(var(--g_main-menu__navigation-toggle-Height) + 32px);
  }

  @each $modifier in (contacts, logistics) {
    &--#{$modifier} {
      padding-bottom: var(--g_main-menu__navigation-toggle-Height);
    }
  }

  @media (min-width: $m-min-width) {
    padding-bottom: calc(var(--g_main-menu__navigation-toggle-Height) + 64px);

    @each $modifier in (contacts, logistics) {
      &--#{$modifier} {
        padding-bottom: var(--g_main-menu__navigation-toggle-Height);
      }
    }

    &.is-modal-shown {
      overflow-y: hidden;
    }
  }

  @media (min-width: $l-min-width) {
    min-height: calc(100vh + 1px);
    padding-bottom: 128px;

    &.is-nav-shown {
      overflow-y: hidden;
    }

    &--contacts {
      padding-bottom: 0;
    }
  }
}
