.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 176px;
  background-color: $ultralight-gray;

  @media (min-width: $l-min-width) {
    height: auto;
  }
}
