mixin customs(customs_modifier)
  -
    const {
      imageDescription,
      listItems,
      paragraphs,
      subtitle,
      title,
    } = CUSTOMS_DATA[customs_modifier];
  section.customs(class=[`customs--${customs_modifier}`, attributes.class])
    +basic-container().customs__container
      header.customs__headline
        +basic-heading().customs__title= title
        p.customs__subtitle= subtitle
      +basic-picture({
        altText: imageDescription,
        areImagesNumerated: false,
        imagePathModifier: customs_modifier,
        parentClass: `customs`,
        parentHasModifier: true,
      })
      .customs__text-content
        - const customsParagraphsRest = paragraphs.slice(1);
        +basic-text-block('p').customs__paragraph!= paragraphs[0]
        ul.customs__list
          each item in listItems
            +basic-text-block('li').customs__item!= item
        each item in customsParagraphsRest
          +basic-text-block('p').customs__paragraph!= item
