-
  const REQUEST_TEXT_FORMGROUP_DATA = {
    route: {
      caption: 'Маршрут',
      type: 'text',
      fields: [
        {
          name: 'departure',
          legend: 'Укажите пункт отправки',
          placeholder: 'Откуда',
        },
        {
          name: 'destination',
          legend: 'Укажите пункт назначения',
          placeholder: 'Куда',
        },
      ],
    },
    dimensions: {
      caption: 'Параметры груза',
      type: 'text',
      fields: [
        { name: 'length', legend: 'Длина', placeholder: 'Длина (см)' },
        { name: 'width', legend: 'Ширина', placeholder: 'Ширина (см)' },
        { name: 'height', legend: 'Высота', placeholder: 'Высота (см)' },
        { name: 'weight', legend: 'Вес', placeholder: 'Вес (кг)' },
      ],
    },
    'cargo-type': {
      caption: 'Сведения о грузе',
      type: 'text',
      fields: [
        {
          name: 'type',
          legend: 'Выберите тип груза',
          placeholder: 'Тип груза',
        },
        {
          name: 'weight',
          legend: 'Вес',
          placeholder: 'Вес, кг',
        },
      ],
    },
    person: {
      caption: 'Персональные данные',
      type: 'text',
      fields: [
        {
          name: 'fullname',
          legend: 'Укажите ваше имя',
          placeholder: 'Ваше имя',
        },
        {
          name: 'contact',
          legend: 'Укажите номер телефона или адрес электронной почты',
          placeholder: 'Номер телефона или Email',
        },
      ],
    },
  };
