.request-text-formgroup__list {
  @mixin request-text-formgroup__list-wide($place: at-modal) {
    .request-text-formgroup--#{$place} & {
      grid: {
        template-columns: repeat(2, 1fr);
        column-gap: 128px;
      }
    }

    .request-text-formgroup--route_#{$place} & {
      padding-left: 0;

      &::before {
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @include list();
  display: grid;
  grid-row-gap: 16px;

  .request-text-formgroup--route & {
    position: relative;
    padding-left: 28px;

    &::before {
      @include svg-background();
      content: "";
      position: absolute;
      top: 8px;
      left: 5px;
      transform-origin: bottom left;
      transform: rotate(90deg);
      width: 43px;
      height: 9px;
      background-image: url("../img/request-text-formgroup--route__list.svg");
    }
  }

  @media (min-width: $m-min-width) {
    @include request-text-formgroup__list-wide(at-modal);
  }

  @media (min-width: $logistics-request-form-resize) {
    @include request-text-formgroup__list-wide(at-flow);

    .request-text-formgroup--dimensions & {
      grid: {
        template-rows: repeat(2, 1fr);
        row-gap: 32px;
      }
    }
  }
}
