.mixed-gallery__list {
  @include list();

  @media (min-width: $m-min-width) {
    display: flex;
    flex: {
      direction: column;
      wrap: wrap;
    }
    align-content: space-between;
  }

  @media (min-width: $l-min-width) {
    @include margin-hor();
    width: 946px;
  }
}
