.customs__headline {
  @include padding-hor();
  margin-bottom: 32px;
}

.customs__title {
  margin-bottom: 16px;
}

.customs__subtitle {
  @include font(500, 24px);
  margin: {
    top: 0;
    bottom: 0;
  }
  letter-spacing: 0.5px;
}

.customs__image-wrapper {
  margin-bottom: 32px;
}

.customs__text-content {
  @include padding-hor();
}

.customs__paragraph {
  margin-top: 0;
  margin-bottom: 16px;

  &--lone {
    margin-bottom: 24px;
  }

  &--last {
    margin-bottom: 0;
  }
}

.customs__list {
  @include list();
  margin-bottom: 24px;
}

.customs__item {
  position: relative;
  margin-bottom: 8px;
  padding-left: 32px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: black;
  }

  &--last {
    margin-bottom: 0;
  }
}
