mixin customs(customs_modifier)
  include _d_customs
  -
    const {
      imageDescription,
      listItems,
      paragraphs,
      subtitle,
      title,
    } = CUSTOMS_DATA[customs_modifier];
  section.customs(class=[`customs--${customs_modifier}`, attributes.class])
    +generic-container().customs__container
      header.customs__headline
        +generic-heading().customs__title= title
        p.customs__subtitle= subtitle
      +generic-picture(
        src=`img/customs--${customs_modifier}__image.jpg`
        alt=imageDescription
      ).customs__image-wrapper
      .customs__text-content
        - const customsParagraphsRest = paragraphs.slice(1);
        +generic-text-block('p').customs__paragraph!= paragraphs[0]
        ul.customs__list
          each item in listItems
            +generic-text-block('li').customs__item!= item
        each item in customsParagraphsRest
          +generic-text-block('p').customs__paragraph!= item
