mixin generic-list(genericList_props)
  - const { modifier, data } = genericList_props;
  ul(class=['generic-list', `generic-list--${modifier}`, attributes.class])
    each item, index in data
      li.generic-list__item
        = `${item}${index === data.length - 1 ? '.' : ';'}`
