.about-brief__container {
  position: relative;

  @media (min-width: $m-min-width) {
    position: static;
    overflow: hidden;
  }

  @media (min-width: $l-min-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
  }
}
