.about-brief__subtitle {
  @include font(700, 16px);
  position: absolute;
  top: 0;
  left: calc(100% - 8px);
  width: 200px;
  transform-origin: top left;
  transform: translateY(96px) rotate(90deg);
  margin: {
    top: 0;
    bottom: 0;
  }
  padding-left: 32px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: black;
  }

  @media (min-width: $m-min-width) {
    top: auto;
    bottom: 400px;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(90deg);
  }

  @media (min-width: $l-min-width) {
    top: -12px;
    bottom: auto;
    left: auto;
    right: (calc(var(--page-header__main-menu-width)));
    transform-origin: bottom left;
    transform: translate(calc(100% - 48px), 144px) rotate(90deg);
    font-size: 18px;
  }
}
