section.about-brief(class=pageMain_getElClasses('about-brief'))
  include _d_about-brief
  .generic-container.generic-container--wide.about-brief__container
    h2.generic-heading-1.about-brief__heading О нас
    +generic-picture(
      src='img/about-brief__image.jpg',
      alt='Контейнеры',
    ).about-brief__image-wrapper
    .about-brief__text-content
      p.about-brief__subtitle Pабота с нами
      each paragraph, index in ABOUT_BRIEF_PARAGRAPHS
        p.generic-textblock.about-brief__paragraph(class=(
          index === ABOUT_BRIEF_PARAGRAPHS.length - 1
          ? 'about-brief__paragraph--last'
          : null
        ))= paragraph
      p.about-brief__endline Спасибо за доверие, Ваш #{SITE_TITLE}.
