.about-brief__heading {
  @include padding-hor();
  position: relative;
  width: 200px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 32px;
  transition: height 0.25s ease;

  @media (min-width: $m-min-width) {
    @include padding-hor(0);
    width: 100%;
    margin-bottom: 40px;
  }

  @media (min-width: $l-min-width) {
    margin-bottom: 64px;
  }
}
