.about-brief__text-content {
  @include padding-hor();

  @media (min-width: $m-min-width) {
    position: relative;
    padding: {
      left: 48px;
      right: 0;
    }
  }

  @media (min-width: $l-min-width) {
    position: static;
    flex: {
      grow: 1;
      shrink: 0;
      basis: 50px;
    }
    max-width: 632px;
    padding: {
      left: 0;
      right: 32px;
    }
  }

  @media (min-width: $xl-min-width) {
    position: relative;
  }
}
