-
  const ABOUT_BRIEF_IMAGE = {
    alt: 'Контейнеры',
    path: 'about-brief__image',
    ext: 'jpg',
    mediaSet: [['OM', 200], ['S', 320], 360],
  };
  const ABOUT_BRIEF_PARAGRAPHS = [
    'История нашей компании начинается с 2000 года. За это время мы прошли большой путь в построении компании, ориентированной на максимальное удовлетворение потребностей современного российского бизнеса.',
    'На сегодняшний день мы - команда профессионалов, готовая взять на себя все трудности и риски связанные с ведением ВЭД.',
    'За долгие 18 лет постоянной работы с таможенными и другими государственными органами, мы приобрели колоссальный опыт и готовы поделиться им с Вами.',
    'Передавая на аутсорсинг нашей компании Ваши бизнес-процессы связанные с подбором зарубежных поставщиков, организацией международной доставки, сертификацией продукции, прохождения процедуры таможенного оформления, Вы избавляете себя не только от головной боли, но и оптимизируете свои финансовые и временные издержки, получая при этом возможность максимально эффективно сконцентрироваться на реализации и продвижении поставляемого товара на российском рынке.',
    'Адаптируясь к реалиям современной действительности наша компания предлагает Вам ведение ВЭД с помощью уполномоченного экономического оператора, призванного максимально упростить все процедуры связанные с приобретением, доставкой и таможенным оформлением товара.',
    'В завершении краткого рассказа о нашей компании, хочется поблагодарить наших клиентов за оказанное нам доверие и заверить наших будущих клиентов, что работая с нами Вы приобретаете надежного партнера для ведения ВЭД на долгие годы, который Вас не подведет!',
  ];
