-
  const LOGISTICS_BRIEF_ITEMS = [
    {
      modifier: 'europe',
      caption: 'Европа',
      list: ['Бельгия', 'Германия', 'Италия', 'Польша', 'Испания', 'Финляндия', 'Франция', 'Бельгия', 'Чехия', 'Турция', 'Голландия', 'Словакия', 'Греция', 'Кипр', 'Швейцария', 'Швеция', 'Литва', 'Латвия'],
    },
    {
      modifier: 'asia',
      caption: 'Азия',
      list: ['Тайвань', 'Китай', 'Япония', 'Корея', 'Таиланд'],
    },
    {
      modifier: 'america',
      caption: 'Америка',
      list: ['Соединеные Штаты Амерки', 'Канада'],
    },
  ];
