mixin logistics-brief()
  section.logistics-brief(class=attributes.class)
    +common-container().logistics-brief__container
      +common-heading().logistics-brief__heading География перевозок
      each string, index in ['Башня', 'Собор', 'Пагода']
        +common-picture({
          altText: string,
          areBlocksNumerated: true,
          numerator: index + 1,
          parentClass: 'logistics-brief',
        })
      ul.logistics-brief__list
        each item in LOGISTICS_ITEMS
          - const { caption, list, modifier } = item;
          li.logistics-brief__item
            +directions({
              heading: caption,
              items: list,
              modifier: modifier,
            })
