mixin logistics-brief()
  section.logistics-brief(class=attributes.class)
    +basic-container().logistics-brief__container
      +basic-heading().logistics-brief__heading= LOGISTICS_BRIEF_HEADING

      each string, index in LOGISTICS_BRIEF_IMAGE_ALTS
        +basic-picture({
          altText: string,
          areBlocksNumerated: true,
          numerator: index + 1,
          parentClass: 'logistics-brief',
        })

      .logistics-brief__text-content
        ul.logistics-brief__list

          mixin logistics-brief__item()
            li.logistics-brief__item
              block

          each countries, continent in DIRECTIONS
            +logistics-brief__item()
              +directions({
                heading: continent,
                items: countries,
              })
