mixin copyright()
  .copyright(class=attributes.class)
    a.copyright__link(href='https://www.waytostart.ru/')
      p.copyright__text
        span.copyright__hidden= 'Создание сайта веб-студия '
        span.copyright__caption WayToStart
