.generic-container {
  @media (min-width: $l-min-width) {
    margin: {
      left: calc((100% - var(--page-min-width)) / 2);
      right: 0;
    };
    padding-right: calc(
      var(--page-header__main-menu-width)
      + var(--page-padding-right)
    );
  }
}
