.header-popup__nest {
  &--logo {
    margin-right: 24px;
  }

  &--socials {
    max-width: 160px;
  }

  @media (min-width: $m-min-width) {
    max-width: none;

    &--logo {
      margin-right: 48px;
    }

    &--socials {
      margin-bottom: 130px;
    }

    &--copyright {
      width: 100%;
      height: 100px;
    }
  }
}
