.header-popup {
  background-color: white;

  @media (min-width: $l-min-width) {
    opacity: 0;
    transition: {
      property: opacity;
      duration: 0.75s;
      timing-function: ease-out;
      delay: 0.75s;
    }

    .is-nav-shown & {
      opacity: 1;
      transition-timing-function: ease-in;
    }
  }
}
