.header-popup {
  background-color: white;

  @media (min-width: $l-min-width) {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    pointer-events: auto;
    transition: left 0.5s ease-out;

    .is-nav-shown & {
      left: 0;
    }
  }
}
