.header-popup__nest {
  &--logo {
    margin-right: 24px;
  }

  &--socials {
    max-width: 160px;
  }

  &--copyright {
    display: flex;
  }

  @media (min-width: $m-min-width) {
    max-width: none;

    &--logo {
      margin-right: 48px;
    }

    &--socials {
      margin-bottom: 80px;
    }
  }
}
