.header-popup__container {
  @include margin-hor();
  width: $s-min-width;
  padding: {
    top: var(--page-padding-top);
    bottom: var(--main-menu__navigation-toggle-height);
  }

  @media (min-width: $m-min-width) {
    @include padding-hor(32px);
    display: grid;
    grid: {
      template: {
        rows: auto 1fr;
        columns: 48px 1fr;
      }
      column-gap: 120px;
    }
    justify-content: space-between;
    width: calc(100% - var(--page-header__main-menu-width));
    margin-left: 0;
    padding-bottom: calc(var(--main-menu__navigation-toggle-height) + 24px);
  }
}
