.articles.page-main__articles
  .generic-container.articles__container
    h1(class=[
      'generic-heading-1',
      'generic-container__heading',
    ]).articles__heading= page.heading()
    .generic-container__inner.articles__inner
      ul.articles__list
        - for (let number = 1; number <= 3; number += 1)
          li.articles__item
            include ../_article-intro/_article-intro
