.request-formgroup {
  @include margin-hor(0);
  padding: 0;
  border-style: none;

  &--route {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 42px;
      right: 12px;
      transform-origin: bottom right;
      transform: rotate(90deg);
      width: 43px;
      height: 9px;
      background: {
        image: url("../img/request-formgroup--route.svg");
        repeat: no-repeat;
        size: cover;
      }
    }
  }
}
