.request-formgroup__list {
  @include list();
  display: grid;
  grid-row-gap: 16px;

  .request-formgroup--transport-type & {
    clear: left;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    justify-items: stretch;
    grid-column-gap: 16px;
  }

  @media (min-width: $m-min-width) {
    .request-formgroup--text & {
      grid: {
        template-columns: repeat(2, 1fr);
        column-gap: 128px;
      }
    }

    .request-formgroup--route & {
      @include route-fieldset-decorator();

      &::before {
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
