.request-formgroup__textfield {
  border-bottom-color: $request-form-border;

  @include hover-focus_set() {
    border-bottom-color: white;
  }

  &--readonly {
    cursor: pointer;

    &::placeholder {
      @include hover-focus_set() {
        color: white;
      }
    }

    &:focus {
      &::placeholder {
        visibility: visible;
      }
    }
  }

  .request-formgroup--dimensions & {
    padding-left: 42px;
  }
}
