.request-formgroup__list {
  @include list();
  display: grid;
  grid-row-gap: 16px;

  .request-formgroup--transport-type & {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 24px;
    justify-items: stretch;
  }
}
