.request-formgroup__caption {
  @each $modifier in (route, dimensions, cargo-type, person,) {
    .request-formgroup--#{$modifier} & {
      @include accessible-hiding();
    }
  }

  .request-formgroup--transport-type & {
    @include form-text-s();
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 32px;
    color: $form-gray;
    transition: color 0.3s;
  }

  @each $state in (hover, focus-within,) {
    .request-formgroup--transport-type:#{$state} & {
      color: white;
    }
  }
}
