-
  const REQUEST_FORM_ROUTE_DATA = {
    title: 'route',
    caption: 'Маршрут',
    fields: [
      ['departure', 'Откуда'],
      ['destination', 'Куда'],
    ],
  };
  const REQUEST_FORM_DIMENSIONS_FIELDS = [
    ['length', 'Длина'],
    ['width', 'Ширина'],
    ['height', 'Высота'],
    ['weight', 'Вес'],
  ];
  const REQUEST_FORM_CARGO_TYPE_FIELDS = ['weight', 'Вес'];
  const REQUEST_FORM_TRANSPORT_TYPE_FIELDS = [
    ['plane', 'Самолетом'],
    ['ship', 'Кораблем'],
    ['car', 'Автомобилем'],
    ['train', 'Поездом'],
  ];
  const REQUEST_FORM_PERSON_FIELDS = [
    ['fullname', 'Ваше имя'],
    ['contact', 'Номер телефона или Email'],
  ];
