.clients__heading {
  @include padding-hor();
  margin-bottom: 32px;

  @media (min-width: $m-min-width) {
    @include padding-hor(0);
    margin-bottom: 48px;
  }

  @media (min-width: $l-min-width) {
    margin-bottom: 96px;
  }
}
