section.clients(class=pageMain_getElClasses('clients'))
  include _d_clients
  .generic-container.generic-container--wide.clients__container
    h2.generic-heading-1.clients__heading Наши клиенты
    ul.clients__list
      each item, index in CLIENTS_LOGO_ALTS
        - const number = index + 1;
        li.clients__item
          +generic-picture(
            class=`.clients__image-wrapper----${number}`
            src=`img/clients__image--${number}.png`
            alt=item
          ).clients__image-wrapper
