section.clients(class=pageMain_getElClasses('clients'))
  -
    const CLIENTS_LOGO_ALTS = [
      'Твой Дом',
      'BebaKisd',
      'Euromoda',
      'Meucci',
      'ON.DARE',
      'Bimba Vera',
      'Groupe Zannier',
      'Fabi',
      'Estetica',
    ];
  div(class=[
    'generic-container',
    'generic-container--wide-s',
    'clients__container',
  ])
    h2.generic-heading-1.clients__heading
      span.generic-heading-1__inner Наши клиенты
    ul.clients__list
      each item, index in CLIENTS_LOGO_ALTS
        -
          const number = index + 1;
        li(class=[
          'clients__item',
          number === CLIENTS_LOGO_ALTS ? 'clients__item--last' : null,
        ])
          picture.generic-picture(class=[
            'clients__image-wrapper',
            `clients__image-wrapper--${number}`,
          ])
            img.generic-picture__image(
              src=`img/clients__image--${number}.png`,
              alt=item,
            )
