.product-list {
  padding: 24px 16px 16px;
  display: grid;
  grid-template: {
    rows: auto 1fr auto;
    columns: 1fr;
  }
  align-content: space-between;
  height: 100%;
  background-color: $form-background;
}
