.product-list__link {
  display: block;
  padding: 4px 8px;
  text-align: center;
  color: $middle-gray;
  transition: {
    property: color;
    duration: 0.3s;
  }

  &:hover {
    color: white;
  }

  &--current {
    position: relative;
    z-index: 0;
    font-weight: 500;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 1px solid $emerald;
    }
  }

  @media (min-width: $l-min-width) {
    @include emerald-line();
    max-width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    &::before {
      width: 0;
      transition: width 250ms;
    }

    &--current {
      &::before {
        width: 100%;
        border-style: none;
      }
    }
  }
}
