.product-list__return-link {
  @include font(500, 12px);
  position: relative;
  display: block;
  padding-left: 21px;
  text-transform: uppercase;
  color: white;

  &::before {
    @include svg-background();
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 5px;
    height: 9px;
    background-image: url("../img/product-list__return-link.svg");
  }
}
