-
  const INDICES_ITEMS = [
    ['15 733 000', 'тонн перевезено'],
    ['156', 'партнеров'],
    ['15', 'лет на рынке перевозок'],
    ['58', 'человек в команде'],
  ];
  const INDICES_IMAGE_ALT = 'Контейнеры';
