mixin indices()
  -
    const INDICES_ITEMS = [
      ['15 733 000', 'тонн перевезено'],
      ['156', 'партнеров'],
      ['15', 'лет на рынке перевозок'],
      ['58', 'человек в команде'],
    ];
  section.indices(class=attributes.class)
    +common-container().indices__container
      +common-heading().indices__heading Показатели
      +common-picture({
        altText: 'Контейнеры',
        areImagesNumerated: false,
        parentClass: 'indices',
      })
      dl.indices__list
        each item in INDICES_ITEMS
          - const [value, key] = item;
          dt.indices__term
            span.indices__string= key
          dd.indices__details= value
