mixin indices()
  section.indices(class=attributes.class)
    +basic-container().indices__container
      +basic-heading().indices__heading= INDECES_HEADING
      +basic-picture({
        altText: INDICES_IMAGE_ALT,
        areImagesNumerated: false,
        parentClass: 'indices',
      })
      dl.indices__list
        each item in INDICES_ITEMS
          - const [value, key] = item;
          dt.indices__term
            span.indices__string= key
          dd.indices__details= value
