mixin logistics()
  .logistics(class=attributes.class)
    .generic-container.generic-container--wide.logistics__container
      h1(class=[
        'generic-heading-1',
        'generic-container__heading',
      ]).logistics__heading= page.heading()
      .generic-container__inner.logistics__inner
        +logistics-crumbs(_LOGISTICS_ITEMS).logistics__breadcrumbs
        +generic-picture(
          src='img/logistics__image.jpg'
          alt=page.heading()
        ).logistics__image-wrapper
        +country-information('uk').logistics__text-content
        .logistics__form-wrapper
          +request-form({
            heading: 'Заявка на перевозку',
            modifier: 'shipping',
          })
