.logistics.page-main__logistics
  div(class=[
    'generic-container',
    'generic-container--wide',
    'logistics__container',
  ])
    h1.generic-heading-1.generic-container__heading.logistics__heading
      = page.heading()
    .generic-container__inner.logistics__inner
      include ../_logistics-crumbs/_logistics-crumbs
      +generic-picture().logistics__image-wrapper(
        src='img/logistics__image.jpg',
        alt=page.heading(),
      )
      include ../_country-information/_country-information
      .logistics__form-wrapper
        form(
          class=['request-form', 'request-form--shipping'],
          method='POST',
          action=FORM_DEFAULT_ACTION,
          name=`shipping-request`,
        )
          h3.generic-heading-3.request-form__heading Заявка на перевозку
          .request-form__body
            +request-text-formgroup({
              modifier: 'route',
              place: modifier,
            }).request-form__group
            +request-text-formgroup({
              modifier: 'dimensions',
              place: modifier,
            }).request-form__group
            +request-text-formgroup({
              modifier: 'person',
              place: modifier,
            }).request-form__group
          include ../_request-form/_request-form__footer
