.logistics.page-main__logistics
  -
    const LOGISTICS_IMAGE = {
      alt: page.heading(),
      path: 'logistics__image',
      ext: 'jpg',
      mediaSet: [['S', 288], ['L', 408], 600],
    };
  div(class=[
    'generic-container',
    'generic-container--wide',
    'logistics__container',
  ])
    h1.generic-heading-1.generic-container__heading.logistics__heading
      = page.heading()
    .generic-container__inner.logistics__inner
      include ../_logistics-crumbs/_logistics-crumbs
      +generic-picture(LOGISTICS_IMAGE).logistics__image-wrapper
      include ../_country-information/_country-information
      .logistics__form-wrapper
        +request-form()(modifier='shipping', heading='Заявка на перевозку')
          .request-form__body
            each modifier in ['route', 'dimensions', 'person']
              +request-text-formgroup()(modifier=modifier, place='at-flow')
          include ../_request-form/_request-form__footer
