.logistics__breadcrumbs {
  margin-bottom: 32px;
}

.logistics__image-wrapper {
  margin-bottom: 32px;
}

.logistics__text-content {
  margin-bottom: 48px;
}

.logistics__form-wrapper {
  @include margin-hor();
  width: $s-min-width;
}
