.logistics-brief__container {
  @media (min-width: $l-min-width) {
    display: grid;
    grid: {
      template: {
        rows: auto 1fr;
        columns: 164px 1fr;
      }
      gap: 64px 60px;
    }
  }

  @media (min-width: $xl-min-width) {
    grid: {
      template-columns: 364px 1fr;
      row-gap: 104px;
    }
  }
}
