.logistics__brief__heading-wrapper {
  margin-bottom: 16px;
  padding: {
    left: 16px;
    right: calc(25% + 32px);
  }

  @media (min-width: $m-min-width) {
    @include padding-hor(0);
    top: 80px;
    margin-bottom: 0;
  }

  @media (min-width: $l-min-width) {
    top: 284px;
  }
}
