mixin logistics-brief()
  -
    const LOGISTICS_BRIEF_PICTURES = [
      { title: 'Башня', isShadowed: true },
      { title: 'Собор', isShadowed: false },
      { title: 'Пагода', isShadowed: true },
    ];
  section.logistics-brief(class=attributes.class)
    .generic-container.generic-container--wide.logistics-brief__container
      .blending.logistics-brief__inner
        +blending__heading-wrapper().logistics__brief__heading-wrapper
          | География перевозок
        .blending__pictures.logistics__brief__pictures
          each image, index in LOGISTICS_BRIEF_PICTURES
            - const { title, isShadowed } = image;
            +generic-picture(
              isShadowed ? 'shadowed' : null
            ).blending__picture(
              class=[
                'logistics-brief__image-wrapper',
                `logistics-brief__image-wrapper--${index + 1}`,
              ],
              src=`img/logistics-brief__image--${index + 1}.jpg`,
              alt=title,
            )
      ul.logistics-brief__list
        each item, index in _LOGISTICS_ITEMS
          - const { caption, list, modifier } = item;
          li.logistics-brief__item(class=(
            index === _LOGISTICS_ITEMS.length - 1
            ? 'logistics-brief__item--last'
            : null
          ))
            +directions({
              heading: caption,
              items: list,
              modifier: modifier,
            })
