.logistics-brief__container {
  @media (min-width: $l-min-width) {
    display: grid;
    grid: {
      template: {
        rows: auto 1fr;
        columns: minmax(20%, 300px) 1fr;
      }
    }
  }
}
