.main-menu__list {
  @include list();
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: calc(var(--main-menu__item-margin-left) * -1);

  @media (min-width: $m-min-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: auto;
    margin-left: 0;
  }

  @media (min-width: $l-min-width) {
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: {
      top: -4px;
      left: calc(var(--main-menu__item-margin-left) * -1);
    }

    @media (min-height: 840px) {
      width: auto;
    }
  }
}
