.main-menu__list {
  @include list();
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: calc(var(--main-menu__item-margin-left) * -1);

  @media (min-width: $m-min-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
