.main-menu {
  --main-menu__item-Margin-left: 24px;

  @media (min-width: $m-min-width) {
    --main-menu__item-Margin-left: 0;
  }

  @media (min-width: $l-min-width) {
    --main-menu__item-Margin-left: 24px;
    height: 100%;
    padding-top: 96px;
    background-color: white;
  }
}
