.main-menu__list {
  @include list();
  display: grid;
  grid: {
    template: repeat(3, 1fr) / repeat(2, auto);
    gap: 8px;
  }
  justify-content: space-between;

  @media (min-width: $m-min-width) {
    display: flex;
  }
}
