.main-menu__inner {
  display: flex;
  justify-content: center;

  @media (min-width: $m-min-width) {
    display: block;
  }

  @media (min-width: $l-min-width) {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100vh - 96px);
    height: 164px;
    padding: 22px 32px 32px 48px;
  }
}
