.main-menu__navigation-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: var(--main-menu__navigation-toggle-height);
  background-color: white;

  @media (min-width: $l-min-width) {
    position: absolute;
    top: 42px;
    left: -13px;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}
