mixin intro()
  header.intro(class=attributes.class)
    +generic-container().intro__container
      +generic-heading().intro__heading Международная перевозка сборных грузов
      each string, index in ['Ракета', 'Облака']
        +generic-picture(
          class=['intro__image-wrapper', `intro__image-wrapper--${index + 1}`]
          src=`img/intro__image--${index + 1}.jpg`
          alt=string
        )
