.additional-service-item__string {
  $additions-service-item__string_Data: (
    insurance: (s: 200px 16px, m: 200px 48px,),
    chinese: (s: 170px 96px, m: auto 96px,),
    contract: (s: auto 32px, m: auto 32px,),
    cross-docking: (s: 120px 72px, m: 120px 24px,),
  );

  @each $modifier, $value in $additions-service-item__string_Data {
    .additional-service-item--#{$modifier} & {
      $item: map-get($value, s);
      width: nth($item, 1);
      margin-top: nth($item, 2);
    }
  }

  @media (min-width: $m-min-width) {
    @each $modifier, $value in $additions-service-item__string_Data {
      .additional-service-item--#{$modifier} & {
        $item: map-get($value, m);
        width: nth($item, 1);
        margin-top: nth($item, 2);
      }
    }
  }
}
