.navigation__certificates {
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
  background-color: white;

  .is-certificates-shown & {
    display: block;
  }

  @media (min-width: $l-min-width) {
    padding-left: 120px;
  }

  @media (min-width: $xl-min-width) {
    padding-left: 392px;
  }
}
