extends ../base/_page_template

block page-variable
  - const page = PAGE_INDEX;

block page-main
  +intro().page-main__intro
  +about-brief().page-main__about-brief
  +indices().page-main__indices
  +logistics-brief().page-main__logistics-brief
  +transport().page-main__transport
  +additional-service().page-main__additional-service
  +clients().page-main__clients
  +customs('agent').page-main__customs-agent
  +customs('service').page-main__customs-service
