extends ../base/_page_template

block page-variable
  - const page = PAGE_LOGISTICS;

block page-main
  +logistics().page-main__logistics
block current-page-scripts
  scripts(src='js/jquery-3.3.1.js')
  scripts(src='js/slick.js')
