extends ../base/_page_template

block page-variable
  - const page = PAGE_LOGISTICS;

block page-main
  //- include ../components/level_2_capital/_logistics/_logistics
block current-page-scripts
  script(src='js/slick.js')
  script(src='js/logistics-crumbs.js')
