mixin clients()
  section.clients(class=attributes.class)
    +basic-container().clients__container
      +basic-heading().clients__heading= CLIENTS_HEADING
      ul.clients__list
        each item, index in CLIENTS_LOGO_TITLES
          li.clients__item(
            class=`clients__item--${index + 1}`
          )
            +basic-picture({
              altText: item,
              imageFormat: 'png',
              numerator: index + 1,
              parentClass: 'clients',
            })
