.about-brief__container {
  position: relative;
}

.about-brief__heading-wrapper {
  @include padding-hor();
  margin-bottom: 16px;
}

.about-brief__inner {
  margin-bottom: 32px;
}

.about-brief__text-content {
  @include padding-hor();
}

.about-brief__subtitle {
  @include font(700, 16px);
  position: absolute;
  top: 0;
  left: calc(100% - 8px);
  width: 200px;
  transform-origin: top left;
  transform: translateY(64px) rotate(90deg);
  margin: {
    top: 0;
    bottom: 0;
  }
  padding-left: 32px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: black;
  }
}

.about-brief__paragraph {
  margin: {
    top: 0;
    bottom: 16px;
  }
}

.about-brief__endline {
  @include font(
    $fontSize: 24px,
    $fontFamily: caveat,
  );
  margin: {
    top: 0;
    bottom: 0;
  }
}
