.blending {
  position: relative;
}

.blending__heading-wrapper {
  position: relative;
}

.blending__heading {
  &--higher {
    color: inherit;
  }

  &--substrate {
    z-index: 0;
    display: none;
    color: inherit;
  }

  @media (min-width: $l-min-width) {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 0.35px #ffffff;
    mix-blend-mode: overlay;
  }
}

.blending__picture {
  z-index: 1;
}
