.blending {
  position: relative;
}

.blending__heading {
  @include padding-hor(16px);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 0.35px #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;

  &--higher {
    z-index: 2;
    color: transparent;
  }

  &--substrate {
    z-index: 0;
    color: inherit;
  }
}

.blending__image {
  position: relative;
  z-index: 1;
}
