-
  const NAVIGATION_ITEMS = [
    ['index', 'Главная'],
    ['certificates', 'Разрешительные документы'],
    ['transport', 'Транспорт'],
    ['logistics', 'География перевозок'],
    ['knowledge-base', 'Полезная информация'],
    ['registration', 'Таможенное оформление'],
    ['articles', 'Статьи'],
    ['about', 'О компании'],
    ['contacts', 'Контакты'],
  ];
  const NAVIGATION_INNER_LISTS = {
    'transport': [
      ['Авиаперевозки', '#'],
      ['Ж/Д перевозки', '#'],
      ['Морские перевозки', '#'],
      ['Автоперевозки', '#'],
    ],
    'logistics': [['Европа', '#'], ['Азия', '#'], ['Америка', '#']],
    'knowledge-base': [
      ['Глоссарий', 'glossary.html'],
      ['Праздники', '#'],
      ['Размеры и виды контейнеров', '#'],
      ['Резмеры и виды автотранспорта', '#'],
      ['Условия поставок', '#'],
      ['Рассчитать объем', '#'],
      ['Таможенный калькулятор', '#'],
    ],
  };
