.error404.page-main__error404
  .generic-container.error404__container
    h1.generic-hidden-box.error404__heading= page.heading
    .error404__lead
      p.generic-heading-1.error404__lead-string Вы не заблудились?
    p.generic-heading-3.error404__hint
      | Вы всегда можете #[a.error404__link(href='#') вернуться] на предыдущую страницу, перейти на #[a.error404__link(href='index.html') главную] или узнать наши #[a.error404__link(href='contacts.html') контакты]
