.calculator-toggle__button {
  @include font(500, 16px);
  display: block;
  letter-spacing: 0.08em;
  text-align: center;
  color: $emerald;
  border: {
    width: 2px;
    style: solid;
    color: currentColor;
  }
  transition: color 200ms;

  &:hover {
    color: transparentize($emerald, 0.25);
  }

  &:active {
    color: transparentize($emerald, 0.5);
  }

  .calculator-toggle--inner & {
    padding: 8px 16px;
  }

  @media (min-width: $m-min-width) {
    .calculator-toggle--inner & {
      padding: 10px 32px;
      font-size: 20px;
    }
  }

  @media (min-width: $l-min-width) {
    .calculator-toggle--outer & {
      padding: 22px 30px 0;
      border-bottom-style: none;
    }
  }
}
