.article__header {
  margin-bottom: 48px;
}

.article__banner-wrapper {
  @include margin-hor();
  width: 770px;
}

.article__subtitle {
  @include font(500, 24px);
  margin: {
    top: 0;
    bottom: 24px;
  }
  letter-spacing: 1px;
}

.article__top-block {
  margin-bottom: 48px;
}

.article__textblock {
  display: grid;
  grid-row-gap: 16px;
}

.article__paragraph {
  margin: {
    top: 0;
    bottom: 0;
  }
}

.article__image-wrapper {
  margin-top: 32px;
}
