.logo__link {
  @mixin set-logo-sizes($width) {
    width: $width;
    height: $width * 39 / 119;
  }

  display: block;

  .logo--outer & {
    @include margin-hor();
    @include set-logo-sizes(119px);
    padding-right: 40px;
  }

  .logo--inner & {
    @include set-logo-sizes(80px);
  }

  @media (min-width: $m-min-width) {
    .logo--outer & {
      @include margin-hor(0);
      padding-right: 0;
    }

    .logo--inner & {
      @include set-logo-sizes(119px);
    }
  }

  @media (min-width: $xl-min-width) {
    .is-modal-shown & {
      position: relative;
      z-index: 4;
    }
  }
}
