.about__features-block {
  margin-bottom: 48px;

  &--last {
    margin-bottom: 0;
  }

  @media (min-width: $m-min-width) {
    &--1 {
      flex: 1 0 50px;
    }

    &--2 {
      flex: 0 0 100%;
    }
  }
}
