-
  const ABOUT_FEATURES_LISTS = [
    {
      heading: 'Конкурентные преимущества наших услуг',
      list: [
        'Лучший мировой опыт',
        'Создание благоприятных условий для ведения Вашего бизнеса',
        'Оптимальные логистические решения',
        'Быстрое и качественное таможенное оформление',
        'Индивидуальный подход',
        'Низкие цены',
        'Круглосуточная работа в режиме онлайн',
        'Мы работаем для Вас и ради Вас',
      ],
    },
    {
      heading: 'Таможенные, транспортные и логистические услуги',
      list: [
        'Таможенное оформление',
        'Организация доставки сборных грузов',
        'Авиа-, авто- доставка грузов из Европы в РФ',
        'Авиадоставка или доставка морским путем из Китая, ЮВА, США',
        'Подбор поставщиков в Китае, ЕС, США',
        'Помощь в таможенном оформлении экспресс отправлений FedEx',
        'Расконсолидация товарных партий и отправка в регионы РФ',
        'Изготовление сертификатов, деклараций соответствия, госрегистраций и прочих видов разрешительных документов',
      ],
    },
  ];
