mixin generic-textfield(genericTextfield_type='text')
  input.generic-textfield(
    class=attributes.class
    type=genericTextfield_type
    name=attributes.name
    placeholder=attributes.placeholder
    required
  )
