mixin page-header()
  .page-header
    .generic-container.page-header__container
      .page-header__inner.page-header__inner--logo
        +logo('outer')
      .page-header__inner.page-header__inner--calls
        +calls()
      .page-header__inner.page-header__inner--search
        +search-form()
      .page-header__inner.page-header__inner--language-toggle
        +language-toggle()
      .page-header__inner.page-header__inner--main-menu
        +main-menu()
      .page-header__inner--calculator-toggle
        +calculator-toggle('outer')
    .page-header__popup
      +header-popup()
