.page-header__popup {
  z-index: 1;
  display: none;
  overflow-y: scroll;

  .is-nav-shown & {
    display: block;
  }

  @media (min-width: $l-min-width) {
    top: var(--g_main-menu-Padding-top);
    left: 0;
    transition: right 0.5s ease-out;
    display: block;
    width: calc(
      100%
      - var(--g_page-header__main-menu-Width)
      - var(--g_Scrollbar-width)
    );
    height: calc(100% - var(--g_main-menu-Padding-top));
    min-height: calc(100% - var(--g_main-menu-Padding-top));
    overflow: hidden;
    background-color: transparent;
    pointer-events: none;
  }
}
