mixin page-header()
  .page-header
    .generic-container.page-header__top-container
      .page-header__logo
        +logo()
      .page-header__calls
        +calls()
      .page-header__search
        +search-form()
    .page-header__sidebar
      +sidebar()
