.page-header__container {
  @include margin-hor();
  @include padding-hor();
  display: grid;
  grid: {
    template: {
      rows: 1fr repeat(3, auto);
      columns: 1fr;
    }
    row-gap: 24px;
  }
  width: $s-min-width;

  @media (min-width: $m-min-width) {
    @include padding-hor(32px);
    grid: {
      template: {
        rows: 1fr repeat(2, auto);
        columns: auto 1fr auto;
      }
      gap: 32px;
    }
    align-items: center;
    width: $m-min-width;
  }

  @media (min-width: $l-min-width) {
    @include padding-hor(56px);
    grid: {
      template: {
        rows: 1fr;
        columns: auto 1fr 256px;
      }
      gap: 0;
    }
    justify-content: start;
    align-items: start;
    width: auto;
    margin: {
      left: calc((100% - #{$l-min-width}) / 2);
      right: 0;
    };
    padding: {
      top: 40px;
      bottom: 48px;
      right: calc(var(--page-header__main-menu-width) + 80px);
    }
  }

  @media (min-width: $xl-min-width) {
    margin-left: calc((100% - #{$xl-min-width}) / 2);
    padding-right: calc(var(--page-header__main-menu-width) + 120px);
  }
}
