.page-header__popup {
  z-index: 1;
  display: none;
  overflow-y: scroll;
  background-color: white;

  .is-nav-shown & {
    display: block;
  }

  @media (min-width: $l-min-width) {
    display: block;
    top: var(--main-menu-Padding-top);
    right: calc(
      -100vw
      + var(--page-header__main-menu-Width)
      + var(--Scrollbar-width)
    );
    transition: right 0.5s ease-out;
    height: calc(100% - var(--main-menu-Padding-top));
    min-height: calc(100% - var(--main-menu-Padding-top));

    .is-nav-shown & {
      right: 0;
    }
  }
}
