mixin page-header()
  .page-header
    .generic-container.page-header__container
      .page-header__logo
        +logo()
      .page-header__calls
        +calls()
      .page-header__search
        +search-form()
      .page-header__language-toggle
        +language-toggle()
      .page-header__main-menu
        +main-menu()
      .page-header__outer-calculator-toggle
        +calculator-toggle('outer')
    .page-header__popup
      .page-header__popup-inner
        .page-header__extra
          +socials().page-header__socials
          +copyright().page-header__copyright
        +navigation().page-header__navigation
        +calculator-toggle('inner').page-header__inner-calculator-toggle
