mixin page-header()
  .page-header
    .generic-container.page-header__container
      .page-header__inner.page-header__inner--logo
        +logo()
      .page-header__inner.page-header__inner--calls
        +calls()
      .page-header__inner.page-header__inner--search
        +search-form()
      .page-header__inner.page-header__inner--language-toggle
        +language-toggle()
      .page-header__inner.page-header__inner--main-menu
        +main-menu()
    .page-header__popup
      .page-header__popup-inner
        .page-header__extra
          +socials().page-header__socials
          +copyright().page-header__copyright
        +navigation().page-header__navigation
        +calculator-toggle('inner').page-header__inner-calculator-toggle
