.page-header__container {
  display: grid;
  grid: {
    template: {
      rows: 1fr repeat(3, auto);
      columns: 1fr;
    }
    row-gap: 24px;
  }

  @media (min-width: $m-min-width) {
    grid: {
      template: {
        rows: 1fr repeat(2, auto);
        columns: auto 1fr auto;
      }
      gap: 32px;
    }
    align-items: center;
  }

  @media (min-width: $l-min-width) {
    grid: {
      template: {
        rows: 1fr;
        columns: auto 1fr 256px 212px;
      }
      gap: 0;
    }
    justify-content: start;
    align-items: start;
    width: auto;
    margin: {
      left: calc((100% - #{$l-min-width}) / 2);
      right: 0;
    };
    padding: {
      top: 40px;
      bottom: 48px;
      right: 24px;
    }
  }
}
