.page-header__popup {
  z-index: 1;
  display: none;
  overflow-y: scroll;
  background-color: white;

  .is-nav-shown & {
    display: block;
  }

  @media (min-width: $l-min-width) {
    display: block;
    right: -100vw;
    transition: right 0.5s ease-out;

    .is-nav-shown & {
      right: 0;
    }
  }
}
