section.intro(class=pageMain_getElClasses('intro'))
  -
    const INTRO_PICTURES = [
      {
        alt: 'Ракета',
        path: 'intro__image--1',
        ext: 'jpg',
        mediaSet: [['S', 320], ['M', 488], ['L', 596], 840],
        isShadowed: false,
      },
      {
        alt: 'Облака',
        path: 'intro__image--2',
        ext: 'jpg',
        mediaSet: [['S', 160], ['M', 186], ['L', 212], 300],
        isShadowed: true,
      },
    ];
  div(class=[
    'generic-container',
    'generic-container--wide-s',
    'intro__container',
  ])
    .blending.intro__inner
      +blending__heading-wrapper().intro__heading-wrapper
        | Международная перевозка сборных грузов
      .blending__pictures.intro__pictures
        each image, index in INTRO_PICTURES
          -
            const { alt, isShadowed } = image;
            const number = index + 1;
          +generic-picture(image).blending__picture(
            class=['intro__image-wrapper', `intro__image-wrapper--${number}`],
            modifier=(isShadowed ? 'shadowed' : null),
          )
