.intro__heading-wrapper {
  @include padding-hor();
  margin-bottom: 16px;

  @media (min-width: $m-min-width) {
    @include padding-hor(0);
    top: 64px;
    margin-bottom: 0;
  }

  @media (min-width: $l-min-width) {
    top: 130px;
  }
}
