.calls
  -
    const CALLS_LINKS = [
      ['+74957446983', '8 495 744 69 83'],
      ['88002220733', '8 800 222 07 33'],
    ];
  ul.calls__list
    each item, index in CALLS_LINKS
      - const [tel, text] = item;
      li(class=[
        'calls__item',
        `calls__item--${index + 1}`,
      ])
        a.calls__link(href=`tel:${tel}`)= text
        .calls__request
          .calls__string-wrapper
            - for (let i = 1; i <= 2; i += 1)
              a.calls__string(href='#') Заказать звонок
