.calls__list {
  @include list();
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $m-min-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $l-min-width) {
    justify-content: flex-start;
  }
}
