.logo__link {
  @mixin set-logo-sizes($width) {
    width: $width;
    height: $width * 39 / 119;
  }

  display: block;

  .logo--outer & {
    @include margin-hor();
    @include set-logo-sizes(119px);
  }

  .logo--inner & {
    @include set-logo-sizes(80px);
  }

  @media (min-width: $m-min-width) {
    .logo--outer & {
      @include margin-hor(0);
    }
  }
}
