mixin main-menu()
  ul.main-menu
    each item in MAIN_MENU_ITEMS
      - const [modifier, text] = item;
      li.main-menu__item
        -
          const itemLink = MAIN_MENU_EMPTY_LINKS.includes(modifier)
            ? '#'
            : `${modifier}.html`;
        a.main-menu__link(
          href=(modifier === page.id ? null : itemLink)
          class=(modifier === 'index' ? 'main-menu__link--notext': null)
        )
          if modifier === 'index'
            span.main-menu__legend= text
          else
            = text
