.page {
  padding: {
    top: var(--page-padding-top);
    bottom: calc(var(--main-menu__navigation-toggle-height) + 32px);
  }

  @each $modifier in (contacts, logistics) {
    &--#{$modifier} {
      padding-bottom: var(--main-menu__navigation-toggle-height);
    }
  }

  &.is-nav-shown {
    overflow-y: hidden;
  }
}
