.page {
  @mixin modal-opened-state() {
    &.is-nav-shown {
      @content;
    }

    &.is-modal-shown {
      @content;
    }
  }

  padding: {
    top: var(--page-padding-top);
    bottom: calc(var(--main-menu__navigation-toggle-height) + 32px);
  }

  @each $modifier in (contacts, logistics) {
    &--#{$modifier} {
      padding-bottom: var(--main-menu__navigation-toggle-height);
    }
  }

  @media (min-width: $m-min-width) {
    padding-bottom: calc(var(--main-menu__navigation-toggle-height) + 64px);

    @each $modifier in (contacts, logistics) {
      &--#{$modifier} {
        padding-bottom: var(--main-menu__navigation-toggle-height);
      }
    }
  }

  @media (min-width: $l-min-width) {
    min-height: calc(100vh + 1px);
    padding: {
      top: 0;
      bottom: 128px;
    }

    @include modal-opened-state() {
      overflow-y: hidden;
      padding-right: var(--scrollbar-width);
    }

    &--contacts {
      padding-bottom: 0;
    }
  }
}
