.page__header {
  margin-bottom: 48px;

  @media (min-width: $m-min-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $l-min-width) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    .is-modal-shown & {
      z-index: 2;
      width: calc(100% - var(--Scrollbar-width));
    }

    .is-nav-shown & {
      width: calc(100% - var(--Scrollbar-width));
    }
  }
}
