.page {
  padding: {
    top: var(--page-padding-top);
    bottom: calc(var(--main-menu__navigation-toggle-height) + 32px);
  }

  @each $modifier in (contacts, logistics) {
    &--#{$modifier} {
      padding-bottom: var(--main-menu__navigation-toggle-height);
    }
  }

  &.is-nav-shown {
    overflow-y: hidden;
    padding-right: var(--scrollbar-width);
  }

  &.is-modal-shown {
    overflow-y: hidden;
    padding-right: var(--scrollbar-width);
  }

  @media (min-width: $m-min-width) {
    padding-bottom: calc(var(--main-menu__navigation-toggle-height) + 64px);

    @each $modifier in (contacts, logistics) {
      &--#{$modifier} {
        padding-bottom: var(--main-menu__navigation-toggle-height);
      }
    }
  }

  @media (min-width: $l-min-width) {
    padding: {
      top: 0;
      bottom: 128px;
    }

    &--contacts {
      padding-bottom: 0;
    }
  }
}
