mixin transport-item(transportItem_props)
  - const { heading, number } = transportItem_props;
  li.transport-item(
    class=([
      heading === 'Ракетный транспорт' ? 'transport-item--special' : null,
      attributes.class,
    ])
  )
    h3.transport-item__heading= heading
    +common-picture(
      src=`img/transport-item__image--${number}.jpg`
      alt=heading
    ).transport-item__image-wrapper
    if heading === 'Ракетный транспорт'
      span.transport-item__hint Скоро
