$font-properties: (
  geometria: (
    font-styles: (normal italic),
    font-weights: (300 light, 400 regular, 500 medium, 700 bold),
  ),
  caveat: (
    font-styles: normal,
    font-weights: ((400 regular),),
  ),
);
