.generic-link {
  font-size: 16px;
  line-height: 1.5;
  text: {
    decoration: underline;
    transform: uppercase;
  }
  color: $emerald;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: $emerald-semitransparent;
  }
}
