@keyframes bounce {
  $bounce-turning-angle: 0.04turn;

  0%,
  100% {
    transform: rotate(0);
  }

  25%,
  75% {
    transform: rotate(-$bounce-turning-angle);
  }

  50% {
    transform: rotate($bounce-turning-angle);
  }
}
