:root {
  --directions__list-margin-left: 20px;
  --directions__list-margin-top: 24px;
  --generic-list-padding: 21px;
  --logistics-crumbs__heading-list-margin-left: 8px;
  --main-menu__item-margin-left: 24px;
  --main-menu__navigation-toggle-height: 48px;
  --page-padding-top: 24px;

  @media (min-width: $m-min-width) {
    --main-menu__item-margin-left: 0;
    --page-padding-top: 32px;
  }

  @media (min-width: $l-min-width) {
    --main-menu__item-margin-left: 24px;
    --page-header__main-menu-width: 180px;
    --scrollbar-width: 17px;
  }
}
