@mixin route-fieldset-decorator() {
  position: relative;

  &::before {
    @include svg-background();
    content: "";
    position: absolute;
    width: 43px;
    height: 9px;
    background-image: url("../img/request-formgroup--route.svg");
  }
}
