mixin directions(directions_props)
  - const { heading, items } = directions_props;

  .directions(class=attributes.class)
    h3.directions__heading= heading
    ul.directions__list

      mixin directions__item(directionsItem_text)
        li.directions__item
          a.directions__link(href='#')= directionsItem_text

      each item in items
        +directions__item(item)
