mixin articles()
  section.articles(class=attributes.class)
    +common-container().articles__container
      +common-heading('h1').articles__heading
      +common-inner-page-content().articles__inner
        ul.articles__list
          - for (let i = 1; i <= 3; i += 1)
              li.articles__item
                +article-intro(i)
