@mixin font(
  $fontWeight: 400,
  $fontSize: 16px,
  $lineHeight: 1.5,
  $font-family: geometria,
) {
  font: {
    weight: $fontWeight;
    size: $fontSize;
    family: "#{$font-family}", "Arial", sans-serif;
  }
  line-height: $lineHeight;
}

@mixin margin-hor($marginHorizontal: auto) {
  margin: {
    left: $marginHorizontal;
    right: $marginHorizontal;
  }
}

@mixin padding-hor($paddingHorizontal: 10px) {
  padding: {
    left: $paddingHorizontal;
    right: $paddingHorizontal;
  }
}

@mixin list() {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding-left: 0;
  list-style-type: none;
}

@mixin accessible-hiding() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

@mixin ms-edge-button-fix() {
  position: relative;
  top: 0;
  left: 0;
}

@mixin outline($color: green) {
  outline: {
    width: 1px;
    style: solid;
    color: $color;
    offset: -1px;
  }
}
