mixin copyright()
  .copyright(class=attributes.class)
    a.copyright__link(href=COPYRIGHT_URL)
      p.copyright__text
        span.copyright__hidden= COPYRIGHT_HIDDEN_TEXT
        span.copyright__caption= COPYRIGHT_CAPTION
