mixin logo()
  .logo
    a.logo__link(href=(page.id !== 'index' ? 'index.html' : null))
      img.logo__image(
        alt=`Логотип компании ${SITE_TITLE}`
        height=39
        src='img/logo__image.svg'
        width=119
      )
      if page.id === 'index'
        h1.logo__heading= page.heading
