// ===========
// Sass mixins
// ===========

// Font stack
// ----------
//
// Arguments:
//
// $fontWeight: font-weight
// $fontSize: font-size
// $lineHeight: line-height
//

@mixin font(
  $fontWeight: 400,
  $fontSize: 16px,
  $lineHeight: 1.5,
) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: "#{$font-family}", "Arial", sans-serif;
}
