// ==============
// Sass variables
// ==============

// Viewport sizing
// ===============

$s-min-width: 320px;

// Typography
// ==========

$font-family: geometria;
$font-properties: (
  font-styles: (normal, italic),
  font-weights: (
    (300, light),
    (400, regular),
    (500, medium),
    (700, bold),
  ),
);

// Colors
// ======

$modal-bg-color: #161616;
$modal-overlay-bg-color: rgba(0, 0, 0, 0.6);

// Various
// =======
