// Sass variables
// ==============

// Viewport sizing
// ---------------

$s-min-width: 320px;
$s-max-width: 767px;
$m-min-width: 768px;
$m-max-width: 1199px;
$l-min-width: 1200px;
$l-max-width: 1919px;
$xl-min-width: 1920px;

// Typography
// ----------

$font-family: geometria;
$font-properties: (
  font-styles: (normal, italic),
  font-weights: (
    (300, light),
    (400, regular),
    (500, medium),
    (700, bold),
  ),
);

// Colors
// ------

$emerald: #79bd9d;
$modal-bg-color: #161616;
$modal-overlay-bg-color: rgba(0, 0, 0, 0.6);

// Various
// -------
