.generic-container {
  @include margin-hor();
  width: var(--page-min-width);

  @media (max-width: $s-max-width) {
    @include padding-hor();

    &--wide-s {
      @include padding-hor(0);
    }
  }

  @media (min-width: $m-min-width) and (max-width: $m-max-width) {
    @include padding-hor(32px);
  }

  @media (min-width: $l-min-width) {
    width: auto;
    margin: {
      left: calc((100% - var(--page-min-width)) / 2);
      right: 0;
    };
    padding: {
      left: 56px;
      right: calc(
        var(--page-header__main-menu-width)
        + var(--page-padding-right)
      );
    }
  }
}
