-
  const PAGE_INDEX = {
    id: 'index',
    title: 'Главная',
    heading: `Транспортная компания ${SITE_TITLE}: официальный сайт`,
  };
  const PAGE_404 = {
    id: '404',
    title: 'Страница не существует',
    heading: 'Страница не существует',
  };
  const PAGE_ABOUT =  {id: 'about', title: 'О нас', heading: 'О нас' };
  const PAGE_ARTICLE = {
    id: 'article',
    title: 'Статьи / Подробнее',
    heading: 'Статьи / Подробнее',
  };
  const PAGE_ARTICLES = {
    id: 'articles',
    title: 'Статьи',
    heading: 'Статьи',
  };
  const PAGE_LOGISTICS = {
    id: 'logistics',
    title: 'География перевозок',
    heading: 'География перевозок',
  };
  const PAGE_GLOSSARY = {
    id: 'glossary',
    title: 'Глоссарий',
    heading: 'Глоссарий',
  };
  const PAGE_CONTACTS = {
    id: 'contacts',
    title: 'Контакты',
    heading: 'Контакты',
  };
