.contacts__office {
  margin-bottom: 48px;

  @media (min-width: $m-min-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $l-min-width) {
    margin: {
      top: var(--contacts__inner-Margin-top);
      bottom: 0;
      right: auto;
    }
  }
}
