.contacts__list {
  @include list();
  display: grid;
  grid-row-gap: 16px;

  @media (min-width: $m-min-width) {
    grid: {
      template: {
        rows: repeat(2, auto) 1fr;
        columns: repeat(2, 1fr);
      }
      auto-flow: column;
      column-gap: 48px;
    }
  }
}
