.page-header
  .generic-container.page-header__container
    div(class=[
      'page-header__inner',
      'page-header__inner--logo',
    ])
      +logo('outer')
    div(class=[
      'page-header__inner',
      'page-header__inner--calls',
    ])
      include ../_calls/_calls
    div(class=[
      'page-header__inner',
      'page-header__inner--search',
    ])
      include ../_search-form/_search-form
    div(class=[
      'page-header__inner',
      'page-header__inner--language-toggle',
    ])
      .language-toggle
        a.language-toggle__link(href='#') ENG
    div(class=[
      'page-header__inner',
      'page-header__inner--main-menu',
    ])
      include ../_main-menu/_main-menu
    div(class=[
      'page-header__inner',
      'page-header__inner--calculator-toggle',
    ])
      +calculator-toggle('outer')
  .generic-fixed-fullscreen.page-header__popup
    include ../_header-popup/_header-popup
  .generic-fixed-fullscreen.overlay.page-header__overlay(role='presentation')
