.calculator-toggle__button {
  display: block;
  letter-spacing: 0.08em;
  text-align: center;
  color: $emerald;
  transition: color 200ms;

  &:hover {
    color: transparentize($emerald, 0.25);
  }

  &:active {
    color: transparentize($emerald, 0.5);
  }

  .calculator-toggle--inner & {
    @include font(500, 16px);
    padding: 8px 16px;

    border: {
      width: 2px;
      style: solid;
      color: currentColor;
    }
  }

  @media (min-width: $m-min-width) {
    .calculator-toggle--inner & {
      padding: 10px 32px;
      font-size: 20px;
    }
  }
}
