mixin calculator-toggle(calculatorToggle_modifier)
  div(class=[
    'calculator-toggle',
    `calculator-toggle--${calculatorToggle_modifier}`,
    attributes.class,
  ])
    a.calculator-toggle__button(href='#') Калькулятор доставки
