.request-form__footer
  button.generic-link.request-form__button(type='submit')
    | Рассчитать доставку
  p.request-form__caution
    = 'Нажимая кнопку "Рассчитать доставку", я соглашаюсь с '
    a.request-form__link(href='#')
      | правилами обработки персональных данных
