-
  const ADDITIONAL_SERVICE = {
    heading: 'Дополнительный сервис',
    items: [
      'Страхование грузов',
      'Поиск поставщиков в Китае',
      'Предоставление контрактодержателя',
      'Кросс докинг',
    ],
  };
