-
  const CLIENTS_DATA = {
    heading: 'Наши клиенты',
    clientNames: [
      'Твой Дом',
      'BebaKisd',
      'Euromoda',
      'Meucci',
      'ON.DARE',
      'Bimba Vera',
      'Groupe Zannier',
      'Fabi',
      'Estetica',
    ],
  };
