-
  const CUSTOMS_DATA = {
    agent: {
      title: 'Таможенный представитель',
      subtitle: 'Кто это?',
      firstParagraph: 'Таможенный представитель фактически выступает посредником между госслужбой таможенного контроля и представляемого им юр- или физлица, по поручению которого он производит возложенные на него функции. #[br] Во главе угла стоят:',
    },
    service: {
      title: 'Таможенные услуги',
      subtitle: 'В чем специфика?',
      firstParagraph: 'Для беспрепятственного продвижения товаров через госграницу необходимо строгое соблюдение четко выверенного порядка предоставления документов, равно как и прохождения контроля. #[br] Оказание таможенных услуг от компании CTIG предполагает:',
    },
  };
