-
  const DIRECTIONS = {
    'Европа': [
      'Бельгия',
      'Германия',
      'Италия',
      'Польша',
      'Испания',
      'Финляндия',
      'Франция',
      'Бельгия',
      'Чехия',
      'Турция',
      'Голландия',
      'Словакия',
      'Греция',
      'Кипр',
      'Швейцария',
      'Швеция',
      'Литва',
      'Латвия',
    ],
    'Азия': ['Тайвань', 'Китай', 'Япония', 'Корея', 'Таиланд'],
    'Америка': ['Соединеные Штаты Амерки', 'Канада'],
  };
