//- =================
//- Head element data
//- =================

//- Meta elements data
//- ------------------

-
  const metaData = {
    'description': '%description%',
    'author': '%author%',
    'viewport': 'width=device-width, initial-scale=1, shrink-to-fit=no',
  };

//- Typography data
//- ---------------

-
  const fontFamilyName = '%fontfamily';
  const fontProperties = {
    weightNames: ['regular', 'bold'],
    styleNames: ['normal', 'italic'],
  };
