//- =================
//- Head element data
//- =================

//- Meta elements data
//- ------------------

-
  const metaData = {
    'description': 'Transportal STIG official website',
    'author': 'WayToStart',
    'viewport': 'width=device-width, initial-scale=1, shrink-to-fit=no',
  };

//- Typography data
//- ---------------

-
  const fontFamilyName = 'geometria';
  const fontProperties = {
    weightNames: ['light', 'regular', 'medium', 'bold'],
    styleNames: ['normal'],
  };
