-
  const MAIN_MENU_ITEMS = [
    ['index', 'Главная'],
    ['contacts', 'Контакты'],
    ['about', 'О компании'],
    ['transport', 'Транспорт'],
    ['registration', 'Таможенное оформление'],
  ];
  const MAIN_MENU_EMPTY_LINKS = ['transport', 'registration'];
