-
  const SIDEBAR_ITEMS = [
    ['index', 'Главная'],
    ['contacts', 'Контакты'],
    ['about', 'О компании'],
    ['transport', 'Транспорт'],
    ['registration', 'Таможенное оформление'],
  ];
  const SIDEBAR_LINKS_EMPTY = ['transport', 'registration'];
