.menu-toggle
  button.menu-toggle__button.menu-toggle__button--opener(type='button')
    span.menu-toggle__legend Показать главное меню
  button.menu-toggle__button.menu-toggle__button--closer(type='button')
    span.menu-toggle__legend Скрыть главное меню
