.navigation-toggle
  button.navigation-toggle__button(
    class='navigation-toggle__button--opener'
    type='button'
  )
    span.navigation-toggle__legend Показать главное меню
  button.navigation-toggle__button(
    class='navigation-toggle__button--closer'
    type='button'
  )
    span.navigation-toggle__legend Скрыть главное меню
