nav.navigation
  .navigation__container
    ul.navigation__list
      mixin navigation__item()
        li.navigation__item
          a.navigation__link
          block
  aside.navigation__extra
    include _c_extra
