.page-header
  .page-header__container
    .page-header__logo
      include ../components/_c_logo
    .page-header__calls
      include ../components/_c_calls
    .page-header__search
      include ../components/_c_search-form
