.sidebar
  .sidebar__container
    .sidebar__navigation-toggle
      include _c_navigation-toggle
    .sidebar__language-toggle
      include _c_language-toggle
    .sidebar__menu
      include _c_main-menu
    .sidebar__calculator-toggle
      include _c_calculator-toggle
    .sidebar__navigation
      include _c_navigation
