mixin transport-item(transportItem_props)
  -
    const { modifier, heading, number } = transportItem_props;
    const isSpecial = (modifier === 'rocket');
  li.transport-item(class=[
    isSpecial ? 'transport-item--special' : null,
    attributes.class,
  ])
    h3.generic-heading-2.transport-item__heading= heading
    mixin transport-item__image-wrapper()
      +generic-picture(
        src=`img/transport-item__image--${number}.jpg`
        alt=heading
      ).transport-item__image-wrapper
    if isSpecial
      .transport-item__wrapper
        +transport-item__image-wrapper()
        span.transport-item__hint Скоро
    else
      +transport-item__image-wrapper()
