mixin generic-heading(genericHeading_type)
  h1.generic-heading(class=attributes.class)= page.heading

mixin generic-heading--higher()
  h2.generic-heading.generic-heading--higher(class=attributes.class)
    block

mixin generic-heading--substrate()
  span.generic-heading.generic-heading--substrate(class=attributes.class)
    block
