include ../components/level_1_scaffold/_generic-list/_m_generic-list
include ../components/level_1_scaffold/_generic-picture/_m_generic-picture
include ../components/level_2_capital/_blending/_m_blending__heading-wrapper
include ../components/level_2_capital/_calculator-toggle/_calculator-toggle
include ../components/level_2_capital/_customs/_customs
include ../components/level_2_capital/_logo/_logo
include ../components/level_2_capital/_request-form/_request-form
include ../components/level_2_capital/_request-text-formgroup/_request-text-formgroup
include ../components/level_2_capital/_subarticle/_subarticle

//- TODO:
  придумать отдельные обозначения для компонентов, добавляемых через миксины и инклюды
