include ../components/level_1_scaffold/_generic-list/_m_generic-list
include ../components/level_1_scaffold/_generic-picture/_m_generic-picture
include ../components/level_2_capital/_blending/_m_blending__heading-wrapper
include ../components/level_2_capital/_calculator-toggle/_m_calculator-toggle
include ../components/level_2_capital/_customs/_m_customs
include ../components/level_2_capital/_logo/_m_logo
include ../components/level_2_capital/_request-form/_m_request-form
include ../components/level_2_capital/_request-text-formgroup/_m_request-text-formgroup
include ../components/level_2_capital/_subarticle/_m_subarticle
