include ../common/data/_d_site
include ../common/data/_d_pages

block page-variable

include ../common/data/_d_components
include _generic_import
include _components_import

doctype html
html(lang='ru')
  include ../common/head/_head
  body.page(class=`page--${page.id}`)
    header.page__header
      +page-header()
    nav.page__sidebar
      +sidebar()
    main.page-main.page__main
      block page-main
    .page__modal
      +modal()
    script(src='js/picturefill.js')
    block current-page-scripts
