include ../global/data/_d_site
include ../global/data/_d_pages

block page-variable

include ../global/data/_d_components
include _components_import

doctype html
html(lang='ru')
  include ../global/head/_head
  body.page(class=`page--${page.id}`)
    header.page__header
      +page-header()
    main.page-main.page__main
      block page-main
    +modal().generic-fixed-fullscreen.page__modal
    script(src='js/picturefill.js')
    script(src='js/navigation.js')
    block current-page-scripts
