include ../common/data/_d_site
include ../common/data/_d_pages
include ../common/data/_d_fonts
include ../common/data/_d_favicons
include ../common/data/_d_components

block page-variable

include _generic_import
include _components_import

doctype html
html(lang='ru')
  include ../common/scaffolds/_head
  body.page(class=`page--${page.id}`)
    header.page__header
      +page-header()
    nav.page__sidebar
      +sidebar()
    main.page-main.page__main
      block page-main
    .page__modal
      +modal()
    script(src='js/picturefill.js')
    block current-page-scripts
