mixin intro()
  header.intro(class=attributes.class)
    +common-container().intro__container
      +common-heading().intro__heading Международная перевозка сборных грузов
      each string, index in ['Ракета', 'Облака']
        +common-picture({
          altText: string,
          areBlocksNumerated: true,
          numerator: index + 1,
          parentClass: 'intro',
      })
