mixin intro()
  header.intro(class=attributes.class)
    +basic-container().intro__container
      +basic-heading().intro__heading= INTRO_HEADING
      each string, index in INTRO_IMAGE_ALTS
        +basic-picture({
          altText: string,
          areBlocksNumerated: true,
          numerator: index + 1,
          parentClass: 'intro',
      })
