mixin intro()
  header.intro(class=attributes.class)
    .intro__container
      +basic-heading().intro__heading= INTRO_DATA.heading

      each string, index in INTRO_DATA.imageDescriptions
        +basic-picture({
          parentClass: 'intro',
          numerator: index + 1,
          altText: string,
          isNumerated: true,
      })
