//- Head element data
//- =================

//- General metadata
//- ----------------

-
  const GENERAL_META_DATA = [
    ['description', SITE_DESCRIPTION],
    ['cmsmagazine', 'cdc79537f1d9f113c73cd2fd46ca0125'],
    ['author', 'Веб-студия WayToStart'],
    ['viewport', 'width=device-width, initial-scale=1, shrink-to-fit=no'],
  ];

//- Typography preload link data
//- ----------------------------

-
  const FONT_SETS = {
    'geometria': {
      weightNames: ['light', 'regular', 'medium', 'bold'],
      styleNames: ['normal'],
    },
    'caveat': {
      weightNames: ['regular'],
      styleNames: ['normal'],
    },
  };

//- Favicons data
//- -------------

-
  const FAVICONS_LINK_DATA = [
    {
      rel: 'apple-touch-icon',
      sizes: '180x180',
      href: 'favicons/apple-touch-icon.png',
    },
    {
      rel: 'icon',
      type: 'image/png',
      sizes: '32x32',
      href: 'favicons/favicon-32x32.png',
    },
    {
      rel: 'icon',
      type: 'image/png',
      sizes: '16x16',
      href: 'favicons/favicon-16x16.png',
    },
    {
      rel: 'icon',
      type: 'image/png',
      sizes: '192x192',
      href: 'favicons/android-chrome-192x192.png',
    },
    {
      rel: 'manifest',
      href: 'favicons/site.webmanifest',
    },
    {
      rel: 'shortcut icon',
      href: 'favicons/favicon.ico',
    },
  ];
  const FAVICONS_META_DATA = [
    ['apple-mobile-web-app-title', SITE_TITLE],
    ['application-name', SITE_TITLE],
    ['msapplication-TileColor', '#2980b9'],
    ['msapplication-TileImage', 'favicons/mstile-144x144.png'],
    ['msapplication-config', 'favicons/browserconfig.xml'],
    ['theme-color', '#2980b9'],
  ];
