.article__banner-wrapper {
  @include margin-hor();
  width: 770px;

  @media (min-width: $l-min-width) {
    width: 1200px;
  }

  @media (min-width: $xl-min-width) {
    width: auto;
    margin-left: var(--page-margin-left);
    padding-left: 168px;
  }
}
