mixin certificates()
  include _d_certificates
  .certificates
    a.certificates__return-button(href='#') Вернуться
    ul.certificates__list
      each text in CERTIFICATES_ITEMS
        li.certificates__item
          a.certificates__link(href='#')= text
