-
  const NAVIGATION_SUBLISTS = {
    'transport': [
      ['Авиаперевозки', '#'],
      ['Ж/Д перевозки', '#'],
      ['Морские перевозки', '#'],
      ['Автоперевозки', '#'],
    ],
    'logistics': [['Европа', '#'], ['Азия', '#'], ['Америка', '#']],
    'knowledge-base': [
      ['Глоссарий', 'glossary.html'],
      ['Праздники', '#'],
      ['Размеры и виды контейнеров', '#'],
      ['Резмеры и виды автотранспорта', '#'],
      ['Условия поставок', '#'],
      ['Рассчитать объем', '#'],
      ['Таможенный калькулятор', '#'],
    ],
  };
