mixin navigation-sublist(navigationSublist_modifier)
  ul.navigation-sublist
    each item in NAVIGATION_SUBLISTS[navigationSublist_modifier]
      - const [text, path] = item;
      li.navigation-sublist__item
        a.navigation-sublist__link(href=path)= text
