mixin transport-item(transportItem_props)
  - const { heading, number } = transportItem_props;
  li.transport-item(
    class=([
      heading === 'Ракетный транспорт' ? 'transport-item--special' : null,
      attributes.class,
    ])
  )
    h3.transport-item__heading= heading
    +basic-picture({
      altText: heading,
      numerator: number,
      parentClass: 'transport-item',
    })
    if heading === 'Ракетный транспорт'
      span.transport-item__hint Скоро
