mixin sidebar()
  .sidebar
    .sidebar__container
      .sidebar__navigation-toggle
        +navigation-toggle()
      .sidebar__static-container
        .sidebar__language-toggle
          +language-toggle()
        .sidebar__main-menu
          +main-menu()
        .sidebar__calculator-toggle
          +calculator-toggle()
      .sidebar__popup-container
        .sidebar__navigation
          +navigation()
        .sidebar__extra
          +extra()
