mixin calls()
  .calls
    ul.calls__list
      each item in CALLS_LINKS
        - const [tel, text] = item;
        li.calls__item
          a.calls__link(href=`tel:${tel}`)= text
          a.calls__request(href='#')= CALLS_REQUEST_TEXT
