-
  const FONT_SETS = {
    'geometria': {
      weightNames: ['light', 'regular', 'medium', 'bold'],
      styleNames: ['normal'],
    },
    'caveat': {
      weightNames: ['regular'],
      styleNames: ['normal'],
    },
  };
