mixin generic-picture(genericPicture_modifier)
  picture.generic-picture(class=[
    (
      genericPicture_modifier
      ? `generic-picture--${genericPicture_modifier}`
      : null
    ),
    attributes.class,
  ])
    img.generic-picture__image(src=attributes.src alt=attributes.alt)
