.modal {
  position: relative;
  display: flex;
  justify-content: center;
  pointer-events: none;

  @media (min-width: $m-min-width) {
    align-items: center;
    min-height: 100vh;
  }

  @media (min-width: $l-min-width) {
    justify-content: flex-start;
  }
}
