button.modal__close-button(type='button')
  svg.modal__close-icon-wrapper(width='22', height='22')
    use.modal__close-icon(xlink:href='#close-button', fill='#ffffff')
  span.generic-hidden-box.modal__button-legend Закрыть окно
