.indices__image-wrapper {
  margin-bottom: 32px;

  @media (min-width: $m-min-width) {
    width: 200px;
    margin: {
      bottom: 0;
      right: 32px;
    }
  }

  @media (min-width: $l-min-width) {
    width: 300px;
    margin-right: 48px;
  }

  @media (min-width: $xl-min-width) {
    width: 480px;
    margin-right: 180px;
  }
}
