.indices__string {
  @media (min-width: $m-min-width) {
    position: relative;
    display: block;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }
}
