.indices__details {
  grid-column: 1;
  margin-left: 0;

  @for $number from 1 through 4 {
    &--#{$number} {
      grid-row: #{2 * $number - 1} / #{2 * $number};
      margin-bottom: 8px;
    }
  }

  @media (min-width: $m-min-width) {
    grid-column: 1 / 2;
    margin-bottom: 0;

    @for $number from 1 through 4 {
      &--#{$number} {
        grid-row: #{$number} / #{$number + 1};
      }
    }
  }
}
