.indices__list {
  @include padding-hor();
  display: grid;
  margin: {
    top: 0;
    bottom: 0;
  }
  grid-template: {
    rows: repeat(8, auto);
    columns: 1fr;
  }

  @media (min-width: $m-min-width) {
    @include padding-hor(0);
    flex-grow: 1;
    grid: {
      template: {
        rows: repeat(4, auto);
        columns: auto 1fr;
      }
      gap: 32px 24px;
    }
    align-items: end;
  }

  @media (min-width: $l-min-width) {
    grid-gap: 96px 48px;
    align-content: start;
  }
}
