mixin contacts()
  -
    const CONTACTS_TELS = [
      ['+74957446983', '+7 495 744 69 83'],
      ['+78002220733', '+7 800 222 07 33'],
      ['+79265333737', '+7 926 533 37 37 (WhatsApp, Viber)'],
    ];
  .contacts(class=attributes.class)
    +generic-container().contacts__container
      +generic-heading('h1').contacts__heading
      +generic-inner-content().contacts__inner
        .contacts__office
          h3.contacts__subheading Офис в Москва
          ul.contacts__list
            each item, index in CONTACTS_TELS
              - const [tel, text] = item;
              li.contacts__item(class=`contacts__item--tel-${index + 1}`)
                a.contacts__link(href=`tel:${tel}`)= text
            li.contacts__item.contacts__item--email
              a.contacts__link(href='mailto:info@ctig.ru') info@ctig.ru
            li.contacts__item.contacts__item--address Пресненская наб. 6, стр. 2, башня "Империя",#[br]16 этаж, ММДЦ "Москва-Сити"
        .contacts__stock
          h3.contacts__subheading Склад консолидации
          a.contacts__link(href='#') Vilnius, Lithuania
      footer.contacts__map-wrapper
        .contacts__map#map
