.blending {
  @media (min-width: $m-min-width) {
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    z-index: 0;
  }

  @media (min-width: $l-min-width) {
    width: $index-images-container-l;
  }

  @media (min-width: $xl-min-width) {
    width: 1265px;
  }
}
