.blending__pictures {
  position: relative;

  @media (min-width: $m-min-width) {
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $xl-min-width) {
    justify-content: flex-start;
  }
}
