-
  const NAVIGATION_ITEMS = [
    ['index', 'Главная'],
    ['certificates', 'Разрешительные документы'],
    ['transport', 'Транспорт'],
    ['logistics', 'География перевозок'],
    ['knowledge-base', 'Полезная информация'],
    ['registration', 'Таможенное оформление'],
    ['articles', 'Статьи'],
    ['about', 'О компании'],
    ['contacts', 'Контакты'],
  ];
  const NAVIGATION_EMPTY_LINKS = MAIN_MENU_EMPTY_LINKS
    .concat('certificates', 'knowledge-base');
