mixin navigation()
  .navigation
    .navigation__certificates
      +certificates()

    ul.navigation__list

      mixin navigation__item(navigationItem_props)
        - const { modifier, text } = navigationItem_props;
        li.navigation__item
          a.navigation__link(
            class=(
              modifier === 'certificates'
              ? 'navigation__link--certificates'
              : null
            )
            href=(
              NAVIGATION_EMPTY_LINKS.concat(page.id).includes(modifier)
              ? null
              : `${modifier}.html`
            )
          )= text
          block

      each item in NAVIGATION_ITEMS
        - const [modifier, text] = item;
        +navigation__item({ modifier: modifier, text: text })
          if modifier in NAVIGATION_SUBLISTS
            +navigation-sublist(modifier)
