mixin directions(directions_props)
  - const { heading, modifier, items } = directions_props;
  .directions(class=`directions--${modifier}`)
    h3.generic-subheading.directions__heading= heading
    ul.directions__list
      each item, index in items
        -
          const lastDirectionsItemModifier = (index === items.length - 1)
            ? 'directions__item--last'
            : null;
        li.directions__item(class=lastDirectionsItemModifier)
          a.directions__link(href='#')= item
