.directions__heading {
  margin-bottom: 16px;
}

.directions__list {
  @include list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(var(--directions__list-vertical-margin) * -1);
}

.directions__item {
  margin: {
    top: var(--directions__list-vertical-margin);
    right: 4px;
  }
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  &--last {
    margin-right: 0;
  }
}
