.request-form {
  background-color: $form-background;

  &--shipping {
    padding: 48px 16px;
  }

  &--calculation {
    padding: 16px;
  }

  @media (min-width: $m-min-width) {
    &--calculation {
      padding: 32px;
    }
  }

  @media (min-width: $l-min-width) {
    padding: 64px;
  }
}
