.request-form {
  padding: 40px 16px;
  background-color: $form-bg-color;
}

.request-form__heading {
  margin-bottom: 32px;
  color: white;
}

.request-form__body {
  display: grid;
  grid-row-gap: 32px;
  margin-bottom: 40px;
}

.request-form__button {
  display: block;
  margin-bottom: 16px;
  padding: 0;
  background-color: transparent;
  border-style: none;
}

.request-form__caution {
  margin: {
    top: 0;
    bottom: 0;
  }
  color: #4d4d4d;
}

.request-form__link {
  &:hover {
    text-decoration: underline;
    color: rgba(77, 77, 77, 0.75);
  }

  &:active {
    color: rgba(77, 77, 77, 0.5);
  }
}
