.request-form__button {
  margin-bottom: 16px;
  padding: 0;
  background-color: transparent;
  border-style: none;

  @media (min-width: $m-min-width) {
    .request-form--calculation & {
      margin-bottom: 0;
      justify-self: start;
      align-self: end;
    }
  }
}
