.request-form__footer {
  @include request-form-mq(nest) {
    display: grid;
    grid: {
      template: {
        columns: repeat(2, 1fr);
        rows: auto;
      }
      column-gap: 128px;
    }
  }
}
