.request-form__footer {
  @mixin request-fomr__footer-wide($modifier: calculation) {
    .request-form--#{$modifier} & {
      display: grid;
      grid: {
        template: {
          columns: repeat(2, 1fr);
          rows: auto;
        }
        column-gap: 128px;
      }
    }
  }

  @media (min-width: $m-min-width) {
    @include request-fomr__footer-wide(calculation);
  }

  @media (min-width: $logistics-request-form-resize) {
    @include request-fomr__footer-wide(shipping);
  }
}
