.request-form__footer {
  @media (min-width: $m-min-width) {
    .request-form--calculation & {
      display: grid;
      grid: {
        template: {
          columns: repeat(2, 1fr);
          rows: auto;
        }
        column-gap: 128px;
      }
    }
  }
}
